In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("../data/coches_segunda_mano-19-02-2025.csv")

In [4]:
len(df)

7904

In [5]:
df =  df.drop_duplicates(subset=['referencia'], keep='first')

In [6]:
len(df)

4778

In [7]:
df

,marca,anio,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,...,puertas,color,precio,vendedor,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen
0,PEUGEOT 308 1.4 95cv 5p.,05/2009,Lleida,142.137 km,Gasolina,C,12 meses,Manual,Berlina mediana o grande,NaN,...,5 Puertas,Gris,7.900 €\r\n13%\r\n6.900 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:36.887580,ref14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...
1,SEAT León ST 1.6 TDI CR 85 kW (115 CV) Start&S...,06/2020,Lleida,106.736 km,Diésel,NaN,12 meses,Manual,Familiar,NaN,...,5 Puertas,Blanco,13.500 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:44.312012,ref14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...
2,PEUGEOT 308 1.5BlueHDi S&S Style 130,09/2019,Lleida,68.314 km,Diesel,C,12 meses,Manual,Berlina,5 asientos,...,5 Puertas,Gris,13.900 €,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,ref15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...
3,OPEL Grandland X Grand Land 1.6CDTI Selective,10/2018,Lleida,55.531 km,Diésel,NaN,12 meses,Manual,"4x4, SUV o pickup",NaN,...,5 Puertas,Gris,17.950 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:02.672957,ref15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...
4,AUDI A3 Sportback Sportback 35 TFSI 150cv,02/2021,Lleida,75.800 km,Gasolina,C,12 meses,Manual,Berlina mediana o grande,NaN,...,5 Puertas,Azul,24.900 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:11.380113,ref15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,AUDI Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,02/2021,Murcia,56.640 km,Gasolina,C,12 meses,Manual,"4x4, SUV o pickup",NaN,...,5 Puertas,GRIS MANHATTAN,24.000 €,AUDI HUERTAS MOTOR MURCIA\r\nProfesional,NaN,Si,2025-02-20 16:50:19.841595,ref15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...
7848,VOLKSWAGEN Golf 2.0TDI Sport DSG7 110kW,11/2020,Madrid,42.000 km,Diesel,C,12 meses,Automático,Berlina,5 asientos,...,5 Puertas,Gris / Metalizado,25.990 €,Matexcar\r\nProfesional,"Consumo medio\r\n4,40\r\nlitros/100 km",No,2025-02-20 16:50:28.065854,ref15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...
7849,AUDI A6 Avant 40 TDI S tronic,04/2023,Murcia,24.304 km,Diesel,ECO,12 meses,Automático,Stationwagon,5 asientos,...,5 Puertas,AZUL FIRMAMENTO METALIZADO,53.900 €\r\n2%\r\n53.000 €,AUDI HUERTAS MOTOR MURCIA\r\nProfesional,"Consumo medio\r\n4,50\r\nlitros/100 km",No,2025-02-20 16:50:37.503167,ref15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...
7902,VOLKSWAGEN Touran 2.0TDI Life DSG7 110kW,12/2024,Madrid,5.000 km,Diesel,C,12 meses,Automático,Monovolumen,7 asientos,...,5 Puertas,Blanco,43.750 €,F. Tomé\r\nProfesional,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:58:50.765870,ref15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...
7903,VOLKSWAGEN Taigo 1.0 TSI Life 81kW,03/2024,Madrid,5.000 km,Gasolina,C,12 meses,Manual,Todo Terreno,5 asientos,...,5 Puertas,Negro,26.750 €,F. Tomé\r\nProfesional,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:59:00.820588,ref12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...

In [8]:
df["consumo_medio"].value_counts()

consumo_medio
Consumo medio\r\n0,00\r\nlitros/100 km     1152
Consumo medio\r\n4,20\r\nlitros/100 km      109
Consumo medio\r\n4,60\r\nlitros/100 km      108
Consumo medio\r\n4,50\r\nlitros/100 km       98
Consumo medio\r\n4,30\r\nlitros/100 km       86
                                           ...
Consumo medio\r\n1,20\r\nlitros/100 km        1
Consumo medio\r\n10,90\r\nlitros/100 km       1
Consumo medio\r\n12,80\r\nlitros/100 km       1
Consumo medio\r\n2,60\r\nlitros/100 km        1
Consumo medio\r\n13,80\r\nlitros/100 km       1
Name: count, Length: 104, dtype: int64

In [9]:
df["consumo_medio"].isna().sum()

np.int64(1664)

In [10]:
# campo nuevo marca_sola

df['marca_sola'] = df['marca'].apply(lambda x: x.split()[0] if isinstance(x, str) else x)

In [11]:
df['marca_sola'].unique()

array(['PEUGEOT', 'SEAT', 'OPEL', 'AUDI', 'FIAT', 'RENAULT', 'HONDA',
       'SMART', 'TOYOTA', 'LEXUS', 'PORSCHE', 'JAGUAR', 'MERCEDES-BENZ',
       'MG', 'DS', 'VOLKSWAGEN', 'NISSAN', 'FORD', 'KIA', 'MINI', 'BMW',
       'VOLVO', 'HYUNDAI', 'CITROEN', 'MASERATI', 'JEEP', 'LAND-ROVER',
       'DACIA', 'DFSK', 'LYNK', 'KGM', 'TESLA', 'SUZUKI', 'SUBARU',
       'SKODA', 'MITSUBISHI', 'FERRARI', 'ALFA', 'MAZDA', 'GMC',
       'CHEVROLET', 'CADILLAC', 'DODGE', 'RAM', 'LANCIA', 'BENTLEY',
       'ABARTH', 'INFINITI', 'CUPRA', 'McLAREN', 'LAMBORGHINI', 'OMODA',
       'JAECOO', 'LINCOLN', 'CHRYSLER', 'ASTON', 'LEAPMOTOR', 'EVO',
       'SAAB', 'LOTUS', 'YES!'], dtype=object)

In [12]:
# renombrar "marca" por "modelo_titulo" y quitar marca

df.rename(columns={'marca': 'modelo_titulo'}, inplace=True)
df['modelo_titulo'] = df['modelo_titulo'].apply(lambda x: ' '.join(x.split()[1:]) if isinstance(x, str) else x)

In [13]:
df

,modelo_titulo,anio,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,...,color,precio,vendedor,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola
0,308 1.4 95cv 5p.,05/2009,Lleida,142.137 km,Gasolina,C,12 meses,Manual,Berlina mediana o grande,NaN,...,Gris,7.900 €\r\n13%\r\n6.900 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:36.887580,ref14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,06/2020,Lleida,106.736 km,Diésel,NaN,12 meses,Manual,Familiar,NaN,...,Blanco,13.500 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:44.312012,ref14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT
2,308 1.5BlueHDi S&S Style 130,09/2019,Lleida,68.314 km,Diesel,C,12 meses,Manual,Berlina,5 asientos,...,Gris,13.900 €,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,ref15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT
3,Grandland X Grand Land 1.6CDTI Selective,10/2018,Lleida,55.531 km,Diésel,NaN,12 meses,Manual,"4x4, SUV o pickup",NaN,...,Gris,17.950 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:02.672957,ref15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL
4,A3 Sportback Sportback 35 TFSI 150cv,02/2021,Lleida,75.800 km,Gasolina,C,12 meses,Manual,Berlina mediana o grande,NaN,...,Azul,24.900 €,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:11.380113,ref15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,02/2021,Murcia,56.640 km,Gasolina,C,12 meses,Manual,"4x4, SUV o pickup",NaN,...,GRIS MANHATTAN,24.000 €,AUDI HUERTAS MOTOR MURCIA\r\nProfesional,NaN,Si,2025-02-20 16:50:19.841595,ref15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI
7848,Golf 2.0TDI Sport DSG7 110kW,11/2020,Madrid,42.000 km,Diesel,C,12 meses,Automático,Berlina,5 asientos,...,Gris / Metalizado,25.990 €,Matexcar\r\nProfesional,"Consumo medio\r\n4,40\r\nlitros/100 km",No,2025-02-20 16:50:28.065854,ref15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN
7849,A6 Avant 40 TDI S tronic,04/2023,Murcia,24.304 km,Diesel,ECO,12 meses,Automático,Stationwagon,5 asientos,...,AZUL FIRMAMENTO METALIZADO,53.900 €\r\n2%\r\n53.000 €,AUDI HUERTAS MOTOR MURCIA\r\nProfesional,"Consumo medio\r\n4,50\r\nlitros/100 km",No,2025-02-20 16:50:37.503167,ref15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI
7902,Touran 2.0TDI Life DSG7 110kW,12/2024,Madrid,5.000 km,Diesel,C,12 meses,Automático,Monovolumen,7 asientos,...,Blanco,43.750 €,F. Tomé\r\nProfesional,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:58:50.765870,ref15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN
7903,Taigo 1.0 TSI Life 81kW,03/2024,Madrid,5.000 km,Gasolina,C,12 meses,Manual,Todo Terreno,5 asientos,...,Negro,26.750 €,F. Tomé\r\nProfesional,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:59:00.820588,ref12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN

In [14]:
# sacar mes y año en columnas separadas

df[['mes_matricula', 'anio_matricula']] = df['anio'].str.split('/', expand=True)

df['mes_matricula'] = df['mes_matricula'].astype(int)
df['anio_matricula'] = df['anio_matricula'].astype(int)

df.drop(columns=["anio"], inplace=True)

In [15]:
def limpiar_kilometraje(valor):
    valor_limpio = valor.replace(".","").replace(" km","")
    return int(valor_limpio)

In [16]:
df["kilometraje"] = df["kilometraje"].apply(lambda x: limpiar_kilometraje(x) if isinstance(x, str) else np.nan)

In [17]:
df["garantia"].unique()

array(['12 meses', '24 meses', nan, 'Sí', 'No', '36 meses', '48 meses',
       '60 meses', '84 meses', '72 meses', '22 meses', '245 meses',
       '18 meses', '19 meses', '21 meses', '30 meses', '50 meses',
       '59 meses', '42 meses', '121 meses', '43 meses', '55 meses',
       '14 meses', '15 meses', '28 meses', '31 meses', '25 meses',
       '6 meses', '53 meses', '27 meses', '49 meses', '51 meses',
       '29 meses', '37 meses', '38 meses', '54 meses', '70 meses',
       '26 meses', '17 meses', '20 meses', '52 meses', '34 meses',
       '32 meses', '23 meses', '57 meses', '35 meses', '58 meses',
       '56 meses', '33 meses'], dtype=object)

In [18]:
df[df["garantia"] == " meses"]["vendedor"].unique()

array([], dtype=object)

In [19]:
df["garantia"] = df["garantia"].replace("No", 0)
df["garantia"] = df["garantia"].replace("Sí", np.nan)
df["garantia"] = pd.to_numeric(df["garantia"].str.replace(" meses", ""), errors='coerce')

In [20]:
df.head(10)

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,vendedor,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,mes_matricula,anio_matricula
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,95 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:36.887580,ref14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,5,2009
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:44.312012,ref14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,6,2020
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5 asientos,130 cv,...,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,ref15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,9,2019
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:02.672957,ref15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,10,2018
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,150 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:11.380113,ref15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,2,2021
5,Corsa 1.2 (100CV) Elegance 5P,Lleida,93869,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,100 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:19.805639,ref15068939,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068939-0-1743434596762f4e4aa06...,OPEL,4,2022
6,A1 Sportback 30 TFSI Black line,Lleida,68216,Gasolina,C,12.0,Manual,Berlina,5 asientos,116 cv,...,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n4,90\r\nlitros/100 km",No,2025-02-19 17:02:31.877727,ref15141118,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15141118-0-10526678326772f9e3c71...,AUDI,3,2019
7,500 1.2 Lounge,Lleida,93562,Gasolina,C,12.0,Manual,Berlina,4 asientos,69 cv,...,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n5,10\r\nlitros/100 km",No,2025-02-19 17:02:40.488963,ref15195785,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15195785-0-2330156200678023dd3c6...,FIAT,8,2017
8,308 1.6 THP Active,Lleida,135000,Gasolina,C,12.0,Manual,Berlina,5 asientos,125 cv,...,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n5,60\r\nlitros/100 km",No,2025-02-19 17:02:49.506620,ref15239174,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15239174-0-393456983767880dbc445...,PEUGEOT,3,2014
9,Astra 1.6CDTi S/S Dynamic 136,Lleida,109570,Diesel,C,12.0,Manual,Berlina,5 asientos,136 cv,...,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n3,90\r\nlitros/100 km",No,2025-02-19 17:02:57.300519,ref15267813,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15267813-0-526599784678e30ba8dff...,OPEL,2,2017

In [21]:
media_garantia = pd.to_numeric(round(df["garantia"].mean(), 0))
df['garantia'] = df["garantia"].fillna(media_garantia)

In [22]:
df["consumo_medio"].unique()

array([nan, 'Consumo medio\r\n3,60\r\nlitros/100 km',
       'Consumo medio\r\n4,90\r\nlitros/100 km',
       'Consumo medio\r\n5,10\r\nlitros/100 km',
       'Consumo medio\r\n5,60\r\nlitros/100 km',
       'Consumo medio\r\n3,90\r\nlitros/100 km',
       'Consumo medio\r\n4,40\r\nlitros/100 km',
       'Consumo medio\r\n7,40\r\nlitros/100 km',
       'Consumo medio\r\n9,10\r\nlitros/100 km',
       'Consumo medio\r\n5,20\r\nlitros/100 km',
       'Consumo medio\r\n3,20\r\nlitros/100 km',
       'Consumo medio\r\n8,40\r\nlitros/100 km',
       'Consumo medio\r\nlitros/100 km',
       'Consumo medio\r\n4,00\r\nlitros/100 km',
       'Consumo medio\r\n7,50\r\nlitros/100 km',
       'Consumo medio\r\n4,80\r\nlitros/100 km',
       'Consumo medio\r\n3,70\r\nlitros/100 km',
       'Consumo medio\r\n3,80\r\nlitros/100 km',
       'Consumo medio\r\n0,00\r\nlitros/100 km',
       'Consumo medio\r\n12,10\r\nlitros/100 km',
       'Consumo medio\r\n4,60\r\nlitros/100 km',
       'Consumo medio\r\n6,30\r\nlitros/100 km',
       'Consumo medio\r\n1,70\r\nlitros/100 km',
       'Consumo medio\r\n4,20\r\nlitros/100 km',
       'Consumo medio\r\n6,00\r\nlitros/100 km',
       'Consumo medio\r\n1,40\r\nlitros/100 km',
       'Consumo medio\r\n1,90\r\nlitros/100 km',
       'Consumo medio\r\n5,80\r\nlitros/100 km',
       'Consumo medio\r\n5,00\r\nlitros/100 km',
       'Consumo medio\r\n10,40\r\nlitros/100 km',
       'Consumo medio\r\n7,20\r\nlitros/100 km',
       'Consumo medio\r\n6,40\r\nlitros/100 km',
       'Consumo medio\r\n5,30\r\nlitros/100 km',
       'Consumo medio\r\n5,70\r\nlitros/100 km',
       'Consumo medio\r\n6,60\r\nlitros/100 km',
       'Consumo medio\r\n8,10\r\nlitros/100 km',
       'Consumo medio\r\n4,70\r\nlitros/100 km',
       'Consumo medio\r\n5,40\r\nlitros/100 km',
       'Consumo medio\r\n4,30\r\nlitros/100 km',
       'Consumo medio\r\n3,50\r\nlitros/100 km',
       'Consumo medio\r\n6,10\r\nlitros/100 km',
       'Consumo medio\r\n6,50\r\nlitros/100 km',
       'Consumo medio\r\n9,60\r\nlitros/100 km',
       'Consumo medio\r\n10,50\r\nlitros/100 km',
       'Consumo medio\r\n8,00\r\nlitros/100 km',
       'Consumo medio\r\n11,80\r\nlitros/100 km',
       'Consumo medio\r\n6,80\r\nlitros/100 km',
       'Consumo medio\r\n7,00\r\nlitros/100 km',
       'Consumo medio\r\n9,30\r\nlitros/100 km',
       'Consumo medio\r\n8,60\r\nlitros/100 km',
       'Consumo medio\r\n4,50\r\nlitros/100 km',
       'Consumo medio\r\n3,30\r\nlitros/100 km',
       'Consumo medio\r\n5,90\r\nlitros/100 km',
       'Consumo medio\r\n6,70\r\nlitros/100 km',
       'Consumo medio\r\n4,10\r\nlitros/100 km',
       'Consumo medio\r\n7,30\r\nlitros/100 km',
       'Consumo medio\r\n11,10\r\nlitros/100 km',
       'Consumo medio\r\n8,80\r\nlitros/100 km',
       'Consumo medio\r\n7,10\r\nlitros/100 km',
       'Consumo medio\r\n7,90\r\nlitros/100 km',
       'Consumo medio\r\n7,60\r\nlitros/100 km',
       'Consumo medio\r\n6,90\r\nlitros/100 km',
       'Consumo medio\r\n5,50\r\nlitros/100 km',
       'Consumo medio\r\n2,50\r\nlitros/100 km',
       'Consumo medio\r\n1,80\r\nlitros/100 km',
       'Consumo medio\r\n9,40\r\nlitros/100 km',
       'Consumo medio\r\n2,20\r\nlitros/100 km',
       'Consumo medio\r\n6,20\r\nlitros/100 km',
       'Consumo medio\r\n11,40\r\nlitros/100 km',
       'Consumo medio\r\n16,20\r\nlitros/100 km',
       'Consumo medio\r\n3,40\r\nlitros/100 km',
       'Consumo medio\r\n20,50\r\nlitros/100 km',
       'Consumo medio\r\n13,10\r\nlitros/100 km',
       'Consumo medio\r\n9,20\r\nlitros/100 km',
       'Consumo medio\r\n8,20\r\nlitros/100 km',
       'Consumo medio\r\n12,70\r\nlitros/100 km',
       'Consumo medio\r\n11,30\r\nlitros/100 km',
       'Consumo medio\r\n7,70\r\nlitros/100 km',
       'Consumo medio\r\n9,50\r\nlitros/100 km',
       'Consumo medio\r\n10,80\r\nlitros/100 km',
       'Consumo medio\r\n9,90\r\nlitros/100 km',
       'Consumo medio\r\n13,20\r\nlitros/100 km',
       'Consumo medio\r\n2,00\r\nlitros/100 km',
       'Consumo medio\r\n1,60\r\nlitros/100 km',
       'Consumo medio\r\n8,70\r\nlitros/100 km',
       'Consumo medio\r\n9,00\r\nlitros/100 km',
       'Consumo medio\r\n2,80\r\nlitros/100 km',
       'Consumo medio\r\n7,80\r\nlitros/100 km',
       'Consumo medio\r\n11,50\r\nlitros/100 km',
       'Consumo medio\r\n11,00\r\nlitros/100 km',
       'Consumo medio\r\n12,50\r\nlitros/100 km',
       'Consumo medio\r\n16,00\r\nlitros/100 km',
       'Consumo medio\r\n3,10\r\nlitros/100 km',
       'Consumo medio\r\n10,30\r\nlitros/100 km',
       'Consumo medio\r\n9,80\r\nlitros/100 km',
       'Consumo medio\r\n8,30\r\nlitros/100 km',
       'Consumo medio\r\n8,90\r\nlitros/100 km',
       'Consumo medio\r\n11,60\r\nlitros/100 km',
       'Consumo medio\r\n2,70\r\nlitros/100 km',
       'Consumo medio\r\n2,10\r\nlitros/100 km',
       'Consumo medio\r\n1,20\r\nlitros/100 km',
       'Consumo medio\r\n10,90\r\nlitros/100 km',
       'Consumo medio\r\n12,80\r\nlitros/100 km',
       'Consumo medio\r\n2,60\r\nlitros/100 km',
       'Consumo medio\r\n13,80\r\nlitros/100 km'], dtype=object)

In [23]:
# convertir a nan los que contengan \nlitros
# sustituir valor por solo lo que hay entre medio\n y \nlitros convertido a float redondeado a 2
# sustituir nans por media (22,5% en muestra: hay que ver porcentaje total de nans y hablar con grupo)


#df['consumo_medio'] = df['consumo_medio'].replace(r'.*\\nlitros.*', np.nan, regex=True)

# Paso 2: Sustituir el valor por solo lo que hay entre "medio\n" y "\nlitros" convertido a float redondeado a 2 decimales
#df['consumo_medio'] = df['consumo_medio'].apply(lambda x: float(re.search(r'medio\n(.*?)\nlitros', x).group(1)) if isinstance(x, str) and re.search(r'medio\n(.*?)\nlitros', x) else x)

# Paso 3: Sustituir NaNs por la media de la columna
#mean_value = df['consumo_medio'].mean()
# df['consumo_medio'] = df['consumo_medio'].fillna(mean_value)

In [24]:
df

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,vendedor,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,mes_matricula,anio_matricula
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,95 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:36.887580,ref14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,5,2009
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:01:44.312012,ref14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,6,2020
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5 asientos,130 cv,...,ASTER AUTOS\r\nProfesional,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,ref15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,9,2019
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:02.672957,ref15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,10,2018
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,150 cv,...,ASTER AUTOS\r\nProfesional,NaN,No,2025-02-19 17:02:11.380113,ref15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,2,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110 cv,...,AUDI HUERTAS MOTOR MURCIA\r\nProfesional,NaN,Si,2025-02-20 16:50:19.841595,ref15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,2,2021
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5 asientos,150 cv,...,Matexcar\r\nProfesional,"Consumo medio\r\n4,40\r\nlitros/100 km",No,2025-02-20 16:50:28.065854,ref15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,11,2020
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Stationwagon,5 asientos,204 cv,...,AUDI HUERTAS MOTOR MURCIA\r\nProfesional,"Consumo medio\r\n4,50\r\nlitros/100 km",No,2025-02-20 16:50:37.503167,ref15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,4,2023
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7 asientos,150 cv,...,F. Tomé\r\nProfesional,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:58:50.765870,ref15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,12,2024
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5 asientos,110 cv,...,F. Tomé\r\nProfesional,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:59:00.820588,ref12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,3,2024

In [25]:
df['referencia'] = pd.to_numeric(df['referencia'].str.replace('ref', ''), errors='coerce')

In [26]:
df['vendedor']=df['vendedor'].fillna("-")
df["nombre_vendedor_profesional"] = pd.Series(dtype="string")
mask = df['vendedor'].str.endswith('\nProfesional')
df.loc[mask, 'nombre_vendedor_profesional'] = df.loc[mask, 'vendedor'].str.split('\nProfesional').str[0]
df['vendedor'] = df['vendedor'].apply(lambda x: True if '\nProfesional' in x else False)
df.rename(columns={'vendedor':'vendedor_profesional'}, inplace=True)
df['vendedor_profesional'].astype(bool)

0       True
1       True
2       True
3       True
4       True
        ...
7847    True
7848    True
7849    True
7902    True
7903    True
Name: vendedor_profesional, Length: 4778, dtype: bool

In [27]:
df['color']=df['color'].apply(lambda x: x.upper())

In [28]:
# Traducir al español los colores en inglés y alemán
# "plateado" va al saco de grises

df.loc[df["color"].str.contains("BLACK|SCHWARZ", regex=True), "color"] = "NEGRO"
df.loc[df["color"].str.contains("WHITE|WEISS", regex=True), "color"] = "BLANCO"
df.loc[df["color"].str.contains("RED|ROT", regex=True), "color"] = "ROJO"
df.loc[df["color"].str.contains("BLUE|BLAU", regex=True), "color"] = "AZUL"
df.loc[df["color"].str.contains("GRAY|GREY|GRAU|PLATEADO|SILVER", regex=True), "color"] = "GRIS"

In [29]:
df['color'] = df['color'].str.split().str[0]

In [30]:
colores = ["NEGRO", "BLANCO", "AZUL", "ROJO", "GRIS"]
df['color'] = df['color'].apply(lambda x: x if x in colores else 'OTROS')

In [31]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,color,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,95 cv,...,GRIS,7.900 €\r\n13%\r\n6.900 €,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,BLANCO,13.500 €,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5 asientos,130 cv,...,GRIS,13.900 €,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120 cv,...,GRIS,17.950 €,NaN,No,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina mediana o grande,NaN,150 cv,...,AZUL,24.900 €,NaN,No,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110 cv,...,GRIS,24.000 €,NaN,Si,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5 asientos,150 cv,...,GRIS,25.990 €,"Consumo medio\r\n4,40\r\nlitros/100 km",No,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Stationwagon,5 asientos,204 cv,...,AZUL,53.900 €\r\n2%\r\n53.000 €,"Consumo medio\r\n4,50\r\nlitros/100 km",No,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7 asientos,150 cv,...,BLANCO,43.750 €,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5 asientos,110 cv,...,NEGRO,26.750 €,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé

In [32]:
df['color'].value_counts()

color
BLANCO    1437
GRIS      1178
NEGRO      676
AZUL       572
OTROS      546
ROJO       369
Name: count, dtype: int64

In [33]:
df["carroceria"].unique()

array(['Berlina mediana o grande', 'Familiar', 'Berlina',
       '4x4, SUV o pickup', 'Todo Terreno', 'Convertible', 'Coupe',
       'Deportivo o coupé', 'Stationwagon', 'Monovolumen', 'Pequeño',
       'Descapotable o convertible', 'Roadster', 'Targa', '-', nan],
      dtype=object)

In [34]:
df['carroceria'].value_counts()

carroceria
Todo Terreno                  1400
Berlina                       1206
4x4, SUV o pickup              758
Berlina mediana o grande       611
Monovolumen                    210
Stationwagon                   156
Familiar                       126
Coupe                          122
Pequeño                         70
Deportivo o coupé               38
Convertible                     33
Descapotable o convertible      22
Roadster                        16
-                                5
Targa                            1
Name: count, dtype: int64

In [35]:
df["carroceria"] = df["carroceria"].replace("Berlina mediana o grande", "Berlina")
df["carroceria"] = df["carroceria"].replace("Targa", "Berlina")
df["carroceria"] = df["carroceria"].replace("Coupe", "Deportivo o coupé ")
df["carroceria"] = df["carroceria"].replace("Convertible", "Descapotable o convertible")
df["carroceria"] = df["carroceria"].replace("Roadster", "Descapotable o convertible")
df["carroceria"] = df["carroceria"].replace("-", "Pequeño")
df["carroceria"] = df["carroceria"].replace("Stationwagon", "Familiar")

In [36]:
df['carroceria'].value_counts()

carroceria
Berlina                       1818
Todo Terreno                  1400
4x4, SUV o pickup              758
Familiar                       282
Monovolumen                    210
Deportivo o coupé              122
Pequeño                         75
Descapotable o convertible      71
Deportivo o coupé               38
Name: count, dtype: int64

In [37]:
df["plazas"] = pd.to_numeric(df["plazas"].str.replace(" asientos", ""), errors='coerce')

In [38]:
df.head(3)

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,mes_matricula,anio_matricula,nombre_vendedor_profesional
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95 cv,...,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,5,2009,ASTER AUTOS
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,6,2020,ASTER AUTOS
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130 cv,...,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,9,2019,ASTER AUTOS

In [39]:
df['puertas'].value_counts()

puertas
5 Puertas    4267
4 Puertas     274
2 Puertas     123
3 Puertas     113
0 Puertas       1
Name: count, dtype: int64

In [40]:
df["puertas"] = pd.to_numeric(df["puertas"].str.replace(" Puertas", ""), errors='coerce')

In [41]:
df['puertas'].value_counts()

puertas
5    4267
4     274
2     123
3     113
0       1
Name: count, dtype: int64

In [42]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,color,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95 cv,...,GRIS,7.900 €\r\n13%\r\n6.900 €,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,BLANCO,13.500 €,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130 cv,...,GRIS,13.900 €,"Consumo medio\r\n3,60\r\nlitros/100 km",No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120 cv,...,GRIS,17.950 €,NaN,No,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina,NaN,150 cv,...,AZUL,24.900 €,NaN,No,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110 cv,...,GRIS,24.000 €,NaN,Si,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5.0,150 cv,...,GRIS,25.990 €,"Consumo medio\r\n4,40\r\nlitros/100 km",No,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Familiar,5.0,204 cv,...,AZUL,53.900 €\r\n2%\r\n53.000 €,"Consumo medio\r\n4,50\r\nlitros/100 km",No,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7.0,150 cv,...,BLANCO,43.750 €,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5.0,110 cv,...,NEGRO,26.750 €,"Consumo medio\r\n0,00\r\nlitros/100 km",No,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé

In [43]:
print(len(df['consumo_medio']))
print(df['consumo_medio'].isnull().sum())

4778
1664

In [44]:
# Paso 1: Sustituir por NaN los valores que contengan "medio\n0,00\nlitros" o "medio\nlitros"
#df['consumo_medio'] = df['consumo_medio'].replace(
#    [r'.*medio\n0,00\nlitros.*', r'.*medio\nlitros.*'], np.nan, regex=True)

# Paso 2: Dejar solo el número entre "medio\n" y "\nlitros" y convertir a float redondeado a 2 decimales
#df['consumo_medio'] = df['consumo_medio'].str.extract(r'medio\n(.*?)\nlitros')[0]
#df['consumo_medio'] = df['consumo_medio'].str.replace(',', '.').astype(float).round(2)

# mean_value = df['consumo_medio'].mean().round(2)
# df['consumo_medio'].fillna(mean_value, inplace=True)

In [45]:
#NUEVO
# Paso 1: Sustituir por NaN los valores que contengan "medio\n0,00\nlitros" o "medio\nlitros"
df['consumo_medio'] = df['consumo_medio'].replace([r'.*Consumo medio\r\n0,00\r\nlitros.*', r'.*Consumo medio\r\nlitros.*'], np.nan, regex=True)

# Paso 2: Dejar solo el número entre "medio\n" y "\nlitros" y convertir a float redondeado a 2 decimales
df['consumo_medio'] = df['consumo_medio'].str.extract(r'Consumo medio\r\n([\d,]+)\r\nlitros')[0]
df['consumo_medio'] = df['consumo_medio'].str.replace(',', '.').astype(float).round(2)
# mean_value = df['consumo_medio'].mean().round(2)
# df['consumo_medio'].fillna(mean_value, inplace=True)

In [46]:
print(len(df['consumo_medio']))
print(df['consumo_medio'].isnull().sum())

4778
2891

In [47]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,color,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95 cv,...,GRIS,7.900 €\r\n13%\r\n6.900 €,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,BLANCO,13.500 €,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130 cv,...,GRIS,13.900 €,3.6,No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120 cv,...,GRIS,17.950 €,NaN,No,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina,NaN,150 cv,...,AZUL,24.900 €,NaN,No,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110 cv,...,GRIS,24.000 €,NaN,Si,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5.0,150 cv,...,GRIS,25.990 €,4.4,No,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Familiar,5.0,204 cv,...,AZUL,53.900 €\r\n2%\r\n53.000 €,4.5,No,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7.0,150 cv,...,BLANCO,43.750 €,NaN,No,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5.0,110 cv,...,NEGRO,26.750 €,NaN,No,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé

In [48]:
df["consumo_medio"].value_counts()

consumo_medio
4.2     109
4.6     108
4.5      98
5.1      86
4.3      86
       ...
1.2       1
10.9      1
12.8      1
2.6       1
13.8      1
Name: count, Length: 102, dtype: int64

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4778 entries, 0 to 7903
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   modelo_titulo                4778 non-null   object
 1   localizacion                 4778 non-null   object
 2   kilometraje                  4778 non-null   int64
 3   combustible                  4751 non-null   object
 4   distintivo_ambiental         4377 non-null   object
 5   garantia                     4778 non-null   float64
 6   cambio                       4776 non-null   object
 7   carroceria                   4774 non-null   object
 8   plazas                       3241 non-null   float64
 9   potencia                     4778 non-null   object
 10  puertas                      4778 non-null   int64
 11  color                        4778 non-null   object
 12  precio                       4777 non-null   object
 13  vendedor_profesional         4778 non-null   bool
 14  consumo_medio                1887 non-null   float64
 15  certificado                  4778 non-null   object
 16  fecha_extraccion             4778 non-null   object
 17  referencia                   4778 non-null   int64
 18  url                          4778 non-null   object
 19  ruta_imagen                  4769 non-null   object
 20  marca_sola                   4778 non-null   object
 21  mes_matricula                4778 non-null   int64
 22  anio_matricula               4778 non-null   int64
 23  nombre_vendedor_profesional  4776 non-null   string
dtypes: bool(1), float64(3), int64(5), object(14), string(1)
memory usage: 900.5+ KB

In [50]:
df["precio"].unique()

array(['7.900 €\r\n13%\r\n6.900 €', '13.500 €', '13.900 €', ...,
       '86.900 €\r\n2%\r\n85.500 €', '53.900 €\r\n2%\r\n53.000 €',
       '43.750 €'], shape=(1713,), dtype=object)

In [51]:
df['precio'] = df['precio'].str.replace('.', '').str.replace(' €', '')
df['precio'] = df['precio'].str.split('\n').str[0]
df['precio'] = pd.to_numeric(df['precio'], errors='coerce')

In [52]:
df["cambio"].unique()

array(['Manual', 'Automático', nan], dtype=object)

In [53]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,color,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95 cv,...,GRIS,7900.0,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116 cv,...,BLANCO,13500.0,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130 cv,...,GRIS,13900.0,3.6,No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120 cv,...,GRIS,17950.0,NaN,No,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina,NaN,150 cv,...,AZUL,24900.0,NaN,No,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110 cv,...,GRIS,24000.0,NaN,Si,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5.0,150 cv,...,GRIS,25990.0,4.4,No,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Familiar,5.0,204 cv,...,AZUL,53900.0,4.5,No,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7.0,150 cv,...,BLANCO,43750.0,NaN,No,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5.0,110 cv,...,NEGRO,26750.0,NaN,No,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé

In [54]:
df["potencia"].unique()

array(['95 cv', '116 cv', '130 cv', '120 cv', '150 cv', '100 cv', '69 cv',
       '125 cv', '136 cv', '140 cv', '115 cv', '201 cv', '90 cv',
       '122 cv', '184 cv', '462 cv', '340 cv', '306 cv', '170 cv',
       '258 cv', '75 cv', '110 cv', '109 cv', '245 cv', '200 cv',
       '204 cv', '388 cv', '163 cv', '220 cv', '320 cv', '114 cv',
       '218 cv', '83 cv', '286 cv', '265 cv', '224 cv', '390 cv',
       '380 cv', '195 cv', '157 cv', '308 cv', '84 cv', '449 cv',
       '285 cv', '326 cv', '230 cv', '231 cv', '190 cv', '240 cv',
       '149 cv', '225 cv', '261 cv', '99 cv', '145 cv', '- cv', '160 cv',
       '112 cv', '165 cv', '305 cv', '177 cv', '180 cv', '299 cv',
       '460 cv', '510 cv', '185 cv', '68 cv', '263 cv', '197 cv',
       '155 cv', '71 cv', '253 cv', '407 cv', '205 cv', '570 cv',
       '235 cv', '350 cv', '129 cv', '85 cv', '179 cv', '132 cv',
       '523 cv', '333 cv', '313 cv', '111 cv', '223 cv', '300 cv',
       '80 cv', '102 cv', '187 cv', '105 cv', '310 cv', '426 cv',
       '360 cv', '420 cv', '470 cv', '760 cv', '668 cv', '237 cv',
       '540 cv', '106 cv', '156 cv', '135 cv', '70 cv', '82 cv',
       '1.290 cv', '272 cv', '421 cv', '141 cv', '260 cv', '528 cv',
       '193 cv', '131 cv', '91 cv', '81 cv', '63 cv', '374 cv', '334 cv',
       '119 cv', '490 cv', '250 cv', '143 cv', '222 cv', '441 cv',
       '525 cv', '211 cv', '174 cv', '262 cv', '178 cv', '124 cv',
       '283 cv', '181 cv', '188 cv', '327 cv', '121 cv', '158 cv',
       '182 cv', '210 cv', '292 cv', '98 cv', '370 cv', '194 cv',
       '101 cv', '409 cv', '92 cv', '312 cv', '244 cv', '217 cv',
       '367 cv', '514 cv', '550 cv', '610 cv', '147 cv', '440 cv',
       '67 cv', '243 cv', '214 cv', '183 cv', '252 cv', '138 cv', '66 cv',
       '72 cv', '97 cv', '423 cv', '319 cv', '228 cv', '585 cv', '162 cv',
       '575 cv', '635 cv', '202 cv', '455 cv', '213 cv', '825 cv',
       '354 cv', '352 cv', '650 cv', '435 cv', '400 cv', '249 cv',
       '480 cv', '600 cv', '280 cv', '520 cv', '571 cv', '118 cv',
       '215 cv', '339 cv', '530 cv', '298 cv', '739 cv', '560 cv',
       '398 cv', '88 cv', '73 cv', '476 cv', '79 cv', '166 cv', '314 cv',
       '60 cv', '241 cv', '196 cv', '269 cv', '229 cv', '381 cv',
       '117 cv', '403 cv', '408 cv', '522 cv', '233 cv', '330 cv',
       '295 cv', '750 cv', '666 cv', '288 cv', '192 cv', '238 cv',
       '500 cv', '325 cv', '630 cv', '700 cv', '199 cv', '680 cv',
       '513 cv', '422 cv', '450 cv', '347 cv', '186 cv', '161 cv',
       '459 cv', '159 cv', '720 cv', '290 cv', '176 cv', '203 cv',
       '321 cv', '234 cv', '128 cv', '468 cv', '65 cv', '248 cv',
       '146 cv', '349 cv', '551 cv', '351 cv', '94 cv', '405 cv',
       '103 cv', '394 cv', '544 cv', '107 cv', '108 cv', '123 cv',
       '126 cv', '598 cv', '727 cv', '603 cv', '404 cv', '385 cv',
       '428 cv', '270 cv', '256 cv', '104 cv', '275 cv'], dtype=object)

In [55]:
df['potencia'] = df['potencia'].str.replace(' cv', '')
df['potencia'] = pd.to_numeric(df['potencia'], errors='coerce')

In [56]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,color,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95.0,...,GRIS,7900.0,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116.0,...,BLANCO,13500.0,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130.0,...,GRIS,13900.0,3.6,No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120.0,...,GRIS,17950.0,NaN,No,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina,NaN,150.0,...,AZUL,24900.0,NaN,No,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110.0,...,GRIS,24000.0,NaN,Si,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5.0,150.0,...,GRIS,25990.0,4.4,No,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Familiar,5.0,204.0,...,AZUL,53900.0,4.5,No,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7.0,150.0,...,BLANCO,43750.0,NaN,No,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5.0,110.0,...,NEGRO,26750.0,NaN,No,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé

In [57]:
fuera_de_peninsula_baleares = ["Tenerife", "Las Palmas", "Ceuta", "Melilla"]
df['peninsula_y_baleares'] = True
df.loc[df['localizacion'].isin(fuera_de_peninsula_baleares), 'peninsula_y_baleares'] = False

In [58]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional,peninsula_y_baleares
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95.0,...,7900.0,NaN,No,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS,True
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116.0,...,13500.0,NaN,No,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS,True
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130.0,...,13900.0,3.6,No,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS,True
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120.0,...,17950.0,NaN,No,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS,True
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina,NaN,150.0,...,24900.0,NaN,No,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110.0,...,24000.0,NaN,Si,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA,True
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5.0,150.0,...,25990.0,4.4,No,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar,True
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Familiar,5.0,204.0,...,53900.0,4.5,No,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA,True
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7.0,150.0,...,43750.0,NaN,No,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé,True
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5.0,110.0,...,26750.0,NaN,No,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé,True

In [59]:
df["certificado"].unique()

array(['No', 'Si'], dtype=object)

In [60]:
df["certificado"] = df["certificado"].replace("No", False)
df["certificado"] = df["certificado"].replace("Sí", True)
df["certificado"] = df["certificado"].astype(bool)

In [61]:
df['fecha_extraccion'] = pd.to_datetime(df['fecha_extraccion'])

In [62]:
df.drop(columns=["vendedor_profesional", "mes_matricula", "anio_matricula"])

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio,carroceria,plazas,potencia,...,precio,consumo_medio,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,nombre_vendedor_profesional,peninsula_y_baleares
0,308 1.4 95cv 5p.,Lleida,142137,Gasolina,C,12.0,Manual,Berlina,NaN,95.0,...,7900.0,NaN,False,2025-02-19 17:01:36.887580,14946771,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14946771-0-5926368496749e1fa4cfb...,PEUGEOT,ASTER AUTOS,True
1,León ST 1.6 TDI CR 85 kW (115 CV) Start&Stop S...,Lleida,106736,Diésel,NaN,12.0,Manual,Familiar,NaN,116.0,...,13500.0,NaN,False,2025-02-19 17:01:44.312012,14962083,https://www.autocasion.com/coches-segunda-mano...,../img/coches/14962083-0-824922025674e0c07cb9c...,SEAT,ASTER AUTOS,True
2,308 1.5BlueHDi S&S Style 130,Lleida,68314,Diesel,C,12.0,Manual,Berlina,5.0,130.0,...,13900.0,3.6,False,2025-02-19 17:01:54.282640,15014897,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15014897-0-1402892972675898157d3...,PEUGEOT,ASTER AUTOS,True
3,Grandland X Grand Land 1.6CDTI Selective,Lleida,55531,Diésel,NaN,12.0,Manual,"4x4, SUV o pickup",NaN,120.0,...,17950.0,NaN,False,2025-02-19 17:02:02.672957,15027844,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15027844-0-557393874675b05f31fab...,OPEL,ASTER AUTOS,True
4,A3 Sportback Sportback 35 TFSI 150cv,Lleida,75800,Gasolina,C,12.0,Manual,Berlina,NaN,150.0,...,24900.0,NaN,False,2025-02-19 17:02:11.380113,15068938,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15068938-0-21278795586762f4e3501...,AUDI,ASTER AUTOS,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7847,Q2 ADVANCED 30 TFSI 81(110) KW(CV) 6 VEL.,Murcia,56640,Gasolina,C,12.0,Manual,"4x4, SUV o pickup",NaN,110.0,...,24000.0,NaN,True,2025-02-20 16:50:19.841595,15333890,https://www.autocasion.com/coches-segunda-mano...,../img/coches/91c126beae1477982e79150aa72153fc...,AUDI,AUDI HUERTAS MOTOR MURCIA,True
7848,Golf 2.0TDI Sport DSG7 110kW,Madrid,42000,Diesel,C,12.0,Automático,Berlina,5.0,150.0,...,25990.0,4.4,False,2025-02-20 16:50:28.065854,15450596,https://www.autocasion.com/coches-segunda-mano...,../img/coches/1798790e897d8cfc4f01c5e9c342acfb...,VOLKSWAGEN,Matexcar,True
7849,A6 Avant 40 TDI S tronic,Murcia,24304,Diesel,ECO,12.0,Automático,Familiar,5.0,204.0,...,53900.0,4.5,False,2025-02-20 16:50:37.503167,15333884,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec0183657d36a2c20336c8656afc507c...,AUDI,AUDI HUERTAS MOTOR MURCIA,True
7902,Touran 2.0TDI Life DSG7 110kW,Madrid,5000,Diesel,C,12.0,Automático,Monovolumen,7.0,150.0,...,43750.0,NaN,False,2025-02-20 16:58:50.765870,15414020,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/15414020-0-232832890567acf283acf...,VOLKSWAGEN,F. Tomé,True
7903,Taigo 1.0 TSI Life 81kW,Madrid,5000,Gasolina,C,12.0,Manual,Todo Terreno,5.0,110.0,...,26750.0,NaN,False,2025-02-20 16:59:00.820588,12854839,https://www.autocasion.com/coches-km0/km-0/vol...,../img/coches/12854839-0-428134073166229674269...,VOLKSWAGEN,F. Tomé,True

In [63]:
df.rename(columns={'cambio': 'cambio_automatico'}, inplace=True)
df['cambio_automatico'] = df['cambio_automatico'].apply(lambda x: True if x == 'Automático' else False)

In [64]:
df['combustible'].unique()

array(['Gasolina', 'Diésel', 'Diesel', 'Híbrido', 'Híbrido Enchufable',
       'Corriente eléctrica', 'Gasolina y corriente eléctrica',
       'Diesel y corriente eléctrica', 'Eléctrico', nan, 'Gasolina/gas',
       'Gas'], dtype=object)

In [65]:
 # combustible
df["combustible"] = df["combustible"].replace("Diesel", "Diésel")
df["combustible"] = df["combustible"].replace("Gasolina y corriente eléctrica", "Híbrido")
df["combustible"] = df["combustible"].replace("Corriente eléctrica", "Eléctrico")
df["combustible"] = df["combustible"].replace("Gas", "Gasolina")
df["combustible"] = df["combustible"].replace("Gasolina/gas", "Gasolina")
df["combustible"] = df["combustible"].replace("Diesel y corriente eléctrica", "Híbrido")

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4778 entries, 0 to 7903
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   modelo_titulo                4778 non-null   object
 1   localizacion                 4778 non-null   object
 2   kilometraje                  4778 non-null   int64
 3   combustible                  4751 non-null   object
 4   distintivo_ambiental         4377 non-null   object
 5   garantia                     4778 non-null   float64
 6   cambio_automatico            4778 non-null   bool
 7   carroceria                   4774 non-null   object
 8   plazas                       3241 non-null   float64
 9   potencia                     4753 non-null   float64
 10  puertas                      4778 non-null   int64
 11  color                        4778 non-null   object
 12  precio                       4777 non-null   float64
 13  vendedor_profesional         4778 non-null   bool
 14  consumo_medio                1887 non-null   float64
 15  certificado                  4778 non-null   bool
 16  fecha_extraccion             4778 non-null   datetime64[ns]
 17  referencia                   4778 non-null   int64
 18  url                          4778 non-null   object
 19  ruta_imagen                  4769 non-null   object
 20  marca_sola                   4778 non-null   object
 21  mes_matricula                4778 non-null   int64
 22  anio_matricula               4778 non-null   int64
 23  nombre_vendedor_profesional  4776 non-null   string
 24  peninsula_y_baleares         4778 non-null   bool
dtypes: bool(4), datetime64[ns](1), float64(5), int64(5), object(9), string(1)
memory usage: 839.9+ KB

In [67]:
df[df['nombre_vendedor_profesional'].isnull()]

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio_automatico,carroceria,plazas,potencia,...,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,mes_matricula,anio_matricula,nombre_vendedor_profesional,peninsula_y_baleares
20,Clase CLS Deportivo 306cv Automático de 4 Puertas,Valencia,160998,Gasolina,C,17.0,True,Deportivo o coupé,4.0,306.0,...,False,2025-02-19 17:05:00.782488,12450562,https://www.autocasion.com/coches-segunda-mano...,../img/coches/ec1924d9bb44f7828cbf5e02ab21f089...,MERCEDES-BENZ,2,2012,<NA>,True
398,Clase GLE 350d 4Matic Aut.,Jaén,142000,Diésel,C,12.0,True,Todo Terreno,5.0,272.0,...,False,2025-02-19 18:09:03.198231,14346634,https://www.autocasion.com/coches-segunda-mano...,NaN,MERCEDES-BENZ,2,2020,<NA>,True

In [68]:
df[df['kilometraje'] > 300000].sort_values('kilometraje', ascending=False)

,modelo_titulo,localizacion,kilometraje,combustible,distintivo_ambiental,garantia,cambio_automatico,carroceria,plazas,potencia,...,certificado,fecha_extraccion,referencia,url,ruta_imagen,marca_sola,mes_matricula,anio_matricula,nombre_vendedor_profesional,peninsula_y_baleares
1086,600 MHEV 1.2 74kW (100CV) DDCT La prima,Sevilla,999999,Gasolina,C,24.0,True,"4x4, SUV o pickup",NaN,100.0,...,True,2025-02-19 20:04:30.569045,15452536,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15452536-0-229346912067b5f43400c...,FIAT,6,2024,STELLANTIS & YOU SEVILLA - SAN LAZARO,True
4387,Prius Prius+ 1.8 Eco,Málaga,743182,Híbrido,ECO,12.0,True,Monovolumen,7.0,136.0,...,False,2025-02-20 06:15:58.107607,15455823,https://www.autocasion.com/coches-segunda-mano...,../img/coches/092d617a7580e3a2996ab1d188efc664...,TOYOTA,2,2019,IMPO EXPO by 5210,True
1019,C4 ë -C4 Feel Pack 100kW,Madrid,558497,Eléctrico,0 EMISIONES,12.0,True,Pequeño,NaN,NaN,...,False,2025-02-19 19:54:11.144246,15454592,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15454592-0-31134034467b618e23cc8...,CITROEN,5,2021,CAR10 Mostoles,True
4368,C4 ë -C4 Feel Pack 100kW,Toledo,558497,Eléctrico,0 EMISIONES,12.0,True,Pequeño,NaN,NaN,...,False,2025-02-20 06:12:45.057353,15454601,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15454601-0-31134034467b619308e04...,CITROEN,5,2021,CAR10 Toledo,True
2024,Clase CLS 320CDI Aut.,Murcia,353187,Diésel,B,15.0,True,Deportivo o coupé,4.0,224.0,...,False,2025-02-19 22:54:28.213323,14541889,https://www.autocasion.com/coches-segunda-mano...,../img/coches/8ad81ef24637ccf6f06bdfe439d21a14...,MERCEDES-BENZ,12,2007,Merino Autocasion,True
317,Clase C 220CDI Avantgarde Aut.,Murcia,350000,Diésel,B,12.0,True,Berlina,5.0,170.0,...,False,2025-02-19 17:55:32.180308,14186724,https://www.autocasion.com/coches-segunda-mano...,../img/coches/cddb0186766f0ca8fe0d6fada8b1520e...,MERCEDES-BENZ,9,2008,Media Automoción,True
615,A3 2.0TDI Ambition S-Tronic,Madrid,330000,Diésel,B,12.0,True,Berlina,5.0,140.0,...,False,2025-02-19 18:46:10.515644,14264937,https://www.autocasion.com/coches-segunda-mano...,../img/coches/6546acdace2a4c410410f0e3fd46df33...,AUDI,3,2006,Autocaravanasycoches.com,True
2327,Fabia 1.4 TDI 69CV 5p.,Málaga,325000,Diésel,NaN,12.0,False,Pequeño,NaN,69.0,...,False,2025-02-19 23:47:52.720381,15440732,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15440732-0-12536058467b39a151a48...,SKODA,4,2007,M.DOMENECH,True
3487,Clase E 220 CDI,Asturias,320000,Diésel,NaN,12.0,False,Berlina,5.0,150.0,...,False,2025-02-20 03:47:05.734240,14987475,https://www.autocasion.com/coches-segunda-mano...,../img/coches/39ef5a3f6c62739a149be098211348ed...,MERCEDES-BENZ,1,2002,Vican Motor,True
7383,307 1.6HDI X-Line 110,Madrid,313069,Diésel,B,12.0,False,Berlina,5.0,110.0,...,False,2025-02-20 15:12:26.003630,15119068,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15119068-0-2329426015676d07b9d8a...,PEUGEOT,2,2006,RUTA 66,True
613,Clase V 220 CDI Trend,Madrid,312000,Diésel,NaN,12.0,False,Monovolumen,7.0,122.0,...,False,2025-02-19 18:45:52.745923,14264574,https://www.autocasion.com/coches-segunda-mano...,../img/coches/5be645368e9ca57ce75738aa211d64ee...,MERCEDES-BENZ,3,2002,Autocaravanasycoches.com,True
2860,Auris 1.4D-4D,Valencia,312000,Diésel,B,17.0,False,Berlina,5.0,90.0,...,False,2025-02-20 02:00:53.720013,15455744,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15455744-0-70128746067b65827f413...,TOYOTA,3,2009,CSV MOTOR VALENCIA,True
135,/ SSANGYONG Rodius 270 Xdi Limited,Toledo,310000,Diésel,B,12.0,False,Monovolumen,7.0,165.0,...,False,2025-02-19 17:24:16.712246,15442026,https://www.autocasion.com/coches-segunda-mano...,../img/coches/6fe0b35be34745475835d8273c865582...,KGM,4,2008,MAXTER AUTOS,True
7188,C8 2.0HDI Seduction 135,Lleida,308000,Diésel,B,12.0,False,Monovolumen,5.0,136.0,...,False,2025-02-20 14:39:00.749930,15007135,https://www.autocasion.com/coches-segunda-mano...,../img/coches/38245ed9a04a5786fb68b556d54ee7d0...,CITROEN,6,2011,COMERCIAL VICTOR,True
7475,Freelander 2.0 XEDI,Granada,300320,Diésel,NaN,12.0,False,Todo Terreno,5.0,97.0,...,False,2025-02-20 15:28:03.296894,15456964,https://www.autocasion.com/coches-segunda-mano...,../img/coches/15456964-0-351024717667b70358649...,LAND-ROVER,9,2000,AUTOBAEZ HERMANOS,True

### Limpieza de datos de concesionarios

In [145]:
df_conces = pd.read_csv("../data/concesionarios (1).csv")
print(f"Largo de Df {len(df_conces)}")
df_conces[df_conces.duplicated(keep=False)]

Largo de Df 4100

,nombre,calle,municipio,provincia,codigo_postal
55,AF VANS,C/ Alejandro Bell 16,Zaragoza,Zaragoza,50014
56,AF VANS,C/ Alejandro Bell 16,Zaragoza,Zaragoza,50014
2379,KAREALDE,"Ctra. Bilbao-Santander, Km.120",Barakaldo,Vizcaya,48903
2380,KAREALDE,"Ctra. Bilbao-Santander, Km.120",Barakaldo,Vizcaya,48903
3298,Quadis Leonauto Concesionario Oficial Peugeot,Avenida Castell Vell 75,Castellón de la plana,Castellón,12004
3299,Quadis Leonauto Concesionario Oficial Peugeot,Avenida Castell Vell 75,Castellón de la plana,Castellón,12004
3654,SURUS INVERSA,"Camino De Las Huertas, 18 2º",Pozuelo de alarcon,Madrid,28223
3655,SURUS INVERSA,"Camino De Las Huertas, 18 2º",Pozuelo de alarcon,Madrid,28223

In [146]:
df_conces = df_conces.drop_duplicates(keep="first")
df_conces

,nombre,calle,municipio,provincia,codigo_postal
0,--AUTOMOVILES VIA NORTE --,C/ Rosalia De Castro 7 - 9,Naron,La coruña,15570
1,*ACS MOTOR*,"Carretera Villanueva De La Jara, 25",Iniesta,Cuenca,16235
2,+ QUE COCHES,Avda Pio Xii 85,Talavera de la reina,Toledo,45600
3,11ELEVEN,Concertar Cita Previa,Madrid,Madrid,28294
4,13 Premium Cars,"Cars Carrer Benito Pérez Galdós, 27,",Aldaia,Valencia,46960
...,...,...,...,...,...
4095,ZENCARS,Atendemos Con Cita Previa.,Madrid,Madrid,28049
4096,"ZENTRO MACHINE- CASE, S.A.",NaN,NaN,Madrid,NaN
4097,ZOANSA TAILERRAK,"Pol. Ind. Alkaiaga, C. Banarta, 2,","Lesaka, navarra",Navarra,31770
4098,ZOE AUTOMOCION,Calle Greco S/N,Sonseca,Toledo,45100
4099,Zylautos Motor,"V Real De Madrid 129,",Valencia,Valencia,46017

In [ ]:
df_conces['municipio'] = df_conces['municipio'].str.replace('Á', 'A', regex=True) \
                                               .str.replace('É', 'E', regex=True) \
                                               .str.replace('Í', 'I', regex=True) \
                                               .str.replace('Ó', 'O', regex=True) \
                                               .str.replace('Ú', 'U', regex=True) \
                                               .str.replace('Ñ', 'N', regex=True) \
                                               .str.replace('À', 'A', regex=True) \
                                               .str.upper()

df_conces['provincia'] = df_conces['provincia'].str.replace('Á', 'A', regex=True) \
                                               .str.replace('É', 'E', regex=True) \
                                               .str.replace('Í', 'I', regex=True) \
                                               .str.replace('Ó', 'O', regex=True) \
                                               .str.replace('Ú', 'U', regex=True) \
                                               .str.replace('Ñ', 'N', regex=True) \
                                               .str.replace('À', 'A', regex=True) \
                                               .str.upper()

df_conces

,nombre,calle,municipio,provincia,codigo_postal
0,--AUTOMOVILES VIA NORTE --,C/ Rosalia De Castro 7 - 9,NARON,LA CORUNA,15570
1,*ACS MOTOR*,"Carretera Villanueva De La Jara, 25",INIESTA,CUENCA,16235
2,+ QUE COCHES,Avda Pio Xii 85,TALAVERA DE LA REINA,TOLEDO,45600
3,11ELEVEN,Concertar Cita Previa,MADRID,MADRID,28294
4,13 Premium Cars,"Cars Carrer Benito Pérez Galdós, 27,",ALDAIA,VALENCIA,46960
...,...,...,...,...,...
4095,ZENCARS,Atendemos Con Cita Previa.,MADRID,MADRID,28049
4096,"ZENTRO MACHINE- CASE, S.A.",NaN,NaN,MADRID,NaN
4097,ZOANSA TAILERRAK,"Pol. Ind. Alkaiaga, C. Banarta, 2,","LESAKA, NAVARRA",NAVARRA,31770
4098,ZOE AUTOMOCION,Calle Greco S/N,SONSECA,TOLEDO,45100
4099,Zylautos Motor,"V Real De Madrid 129,",VALENCIA,VALENCIA,46017

In [94]:
df_conces['municipio'].unique().tolist()

['NARON',
 'INIESTA',
 'TALAVERA DE LA REINA',
 'MADRID',
 'ALDAIA',
 'VILLALBILLA',
 'CORNELLA DE TERRI',
 'PICASSENT',
 'SEGOVIA',
 'MALAGA',
 'PALMA DE MALLORCA',
 'MARBELLA',
 'MORALEJA DE ENMEDIO',
 'NUEVA ANDALUCIA ,',
 'VELEZ',
 'VALLADOLID',
 'RAJADELL',
 'LA MORALEJA',
 'VIZCAYA',
 'DON BENITO',
 'ALCAZAR DE SAN JUAN',
 'ROSELLO',
 'EL VERGEL',
 'CATOIRA',
 'SANT FRUITÓS DE BAGES',
 'EIVISSA',
 'CASTRILLON',
 'LAS ROZAS',
 'MOLLET DEL VALLES',
 'ALMERIA',
 'NIJAR',
 'VILAGARCIA DE AROUSA',
 'BARCELONA',
 'GUADIX - GRANADA',
 'VILAMALLA',
 'ALGETE',
 'PLAYA DEL INGLES',
 nan,
 'ARNEDO',
 'NONDUERMAS',
 'ROZAS DE MADRID',
 'MOLINA DE SEGURA',
 'SALAMANCA',
 'ARTESA DEL SEGRE',
 'VICOLOZANO',
 'MÓSTOLES',
 'MOSTOLES',
 'RIPOLLET',
 'SALT',
 'ZARAGOZA',
 'PADUL',
 'VILANOVA I LA GELTRÚ',
 'COLLADO VILLALBA',
 'OROSO',
 'LOGROÑO',
 'CIUDAD REAL',
 'PONFERRADA (LEON)',
 'VITORIA',
 'ALTORRICÓN',
 'ONDARA',
 'COIN',
 'SAN SEBASTIAN DE LOS REYES',
 'POZO DE GUADALAJARA',
 'SAN AGUSTIN DEL GUADALIX',
 'UTRERA',
 'CERDANYOLA DEL VALLES',
 'VALDEMORO',
 'TORREVIEJA',
 'GELVES',
 'POZUELO DE ALARCON',
 'ALDEAMAYOR DE SAN MARTÍN',
 'HUERCAL',
 'GRANADA',
 'ELCHE',
 'VILLAGONZALO',
 'LEON',
 'ZARATAN',
 'ESTEPONA',
 'MEJORADA DEL CAMPO',
 'VALENCIA',
 'NARRILLOS DE SAN LEONARDO',
 'CARTAGENA',
 'ZUBIA',
 'LAS TORRES DE COTILLAS',
 'FUENTE EL SAZ DEL JARAMA',
 'LEMOA',
 'MECO',
 'ALMANSA',
 'BAZA',
 'VILA-REAL',
 'LUGO',
 'OLÍAS DEL REY',
 'ARGANDA DEL REY',
 'A CORUÑA',
 'ARTEIXO',
 'UTRERA SEVILLA',
 'ALMORADI',
 'TUDELA',
 'CASTELLON',
 'VIC',
 'MATADEPERA',
 'MARTORELLES',
 'CARTES',
 'BENAVENTE',
 'FIGUERES',
 'REVILLARRUZ',
 'EL PUNTUAL',
 'FORNELLS DE LA SELVA',
 'NOAIN',
 'ALBACETE',
 'MÁLAGA',
 'ZAMORA',
 'GIJON',
 'GIJON (ASTURIAS)',
 'ALCOBENDAS',
 'RIVAS-VACIAMADRID',
 'BENALUP-CASAS VIEJAS',
 'BENIDORM',
 'VILABLAREIX',
 'SEVILLA',
 'JÁVEA',
 'LORCA',
 'CERCEDA',
 'TARRAGONA',
 'ALCALA DE GUADAIRA',
 'MANLLEU',
 'BADAJOZ',
 'LEGANÉS',
 'GODELLETA',
 'HOSPITALET LLOBREGAT',
 'GRANOLLERS',
 'TORRE DEL MAR',
 'CASTELLÓN DE LA PLANA',
 'OURENSE',
 'CADRETE',
 'ARCOS DE LA FRONTERA',
 'MURCIA',
 'TORA',
 'POZUELO DE ALARCÓN',
 'RIBARROJA',
 'LA CORUÑA',
 'OLIAS DEL REY',
 'TOLEDO',
 'BURGOS',
 'ARTÉS',
 'PILAR DE LA HORADADA',
 'PIEDRASBLANCAS',
 'JAEN',
 'PONTEVEDRA',
 'GUARDAMAR DEL SEGURA,',
 'LLEIDA',
 'ZARAUTZ',
 'AVILES',
 'ASTURIAS',
 'PALAFRUGELL',
 'SALINAS',
 'SANTA PERPETUA DE LA MOGODA',
 'CASTELLDEFELS',
 'CABRERA DE MAR',
 'SIERO',
 'BILBAO',
 'VITORIA-GASTEIZ',
 'VILLARES DE LA REINA',
 'HUESCA',
 'ALCORCÓN',
 'GIRONA',
 'PELIGROS',
 'PALENCIA',
 'LES PRESES',
 'GANDIA',
 'CASTELLÓN',
 'SAN MARTIN DE LA VEGA',
 'MONTCADA',
 'VIGO',
 'NOVELDA',
 'SANTA COLOMA DE GRAMENET',
 'MAIRENA DEL ALJARAFE',
 'CABRERA DEL MAR',
 'FUENLABRADA',
 'TORTOSA',
 'SANT JORDI',
 'ROSAS',
 'BENETUSSER',
 'ALCALÁ DE HENARES',
 'ESPLUGUES DE LLOBREGAT',
 'GALAPAR',
 'VILAFRANCA DEL PENEDÉS',
 'SORIA',
 'LLANES',
 'SAN VICENTE DEL RASPEIG',
 'BENALMADENA',
 'SABADELL',
 'ARGENTONA',
 'ALCAÑIZ',
 'PUIGCERDA',
 'CARRIÓN DE CALATRAVA',
 'TAMAMES',
 'LORQUI',
 'SANTANDER',
 'TERRASSA',
 'SANT HIPOLIT DE VOLTREGA',
 'SAN CUGAT DEL VALLES',
 'ALFAZ DEL PI',
 'ALHAMA DE MURCIA, ,',
 'VILANOVA Y LA GELTRU',
 'ARROYOMOLINOS',
 'PINTO',
 'BARAJAS',
 'SANT BOI DE LLOBREGAT',
 'CULLERA',
 'SANTA CRISTINA DE ARO',
 'AMPOSTA',
 'PUEBLA DE DON FADRIQUE',
 'MANISES',
 'CORVERA DE ASTURIAS',
 'SANTA FE',
 'MANRESA',
 'XATIVA',
 "L'ALTET",
 'VILAFRANCA DEL PENEDES',
 'LA CANONJA',
 'SOSES',
 'HUMANES',
 'MONTURQUE',
 'BASAURI',
 'VILLANUEVA DEL ROSARIO',
 'VERGER',
 'SANTA POLA',
 'EL CUERVO',
 'TORREMOLINOS',
 'DONOSTIA',
 'IRUN',
 'FUENGIROLA',
 'SAGUNTO',
 'SAN MARTÍN DE LA VEGA',
 'COGULLADA-CARCAIXENT',
 'BOADILLA DEL MONTE',
 'MANZANARES',
 'SANT CELONI',
 'SITGES',
 'ALPEDRETE',
 'EL VENDRELL',
 'EL PARADOR DE LAS HORTICHUELAS',
 'ALICANTE',
 'SANT ADRIÀ DE BESÒS',
 'CHURRA',
 'BASAURI,',
 'HUMANES DE MADRID.',
 'CALAHORRA',
 'REUS',
 'TRAPAGARAN',
 'HELLIN',
 'REY',
 'PATERNA',
 'MONFORTE DE LEMOS',
 'LLORET DE MAR',
 'MONDEJAR',
 'CORDOBA',
 'TORRENT',
 'LEÓN',
 'ROQUETAS DE MAR',
 'PINSEQUE',
 'LA POBLA DE MAFUMET',
 'BALAGUER',
 'MATARÓ',
 'EL MASNOU',
 'SANT FRUITOS DE VAGES BARCELONA.',
 'GUARDIOLA DE BERGUEDÀ',
 'MOJADOS',
 'ESTACION DE BLANCA',
 'ORIHUELA COSTA',
 'CARAVACA',
 'MERES-SIERO',
 'LOS PALACIOS',
 'CREVILLENTE',
 'VILLAGARCIA DE AROUSA (GALICIA)',
 'ANDUJAR',
 'ALGUAZAS',
 'DOS HERMANAS',
 'ALGECIRAS',
 'MAIRENA DEL ALCOR',
 'VALCABADO',
 'TORRIJOS',
 'SAN JUAN DE ENOVA',
 'HUERCAL DE ALMERIA',
 'IBI',
 'TRES CANTOS',
 'VELEZ MALAGA',
 'MONTIJO',
 'PALMA DEL RIO',
 'POZOBLANCO',
 'ALBORAYA',
 'ALFAFAR',
 'ALGEMESI',
 'OSUNA',
 'SEVILLA LA NUEVA',
 'ECIJA',
 'ALMAGRO',
 'CORNELLA DE LLOBREGAT',
 'CORIA DE RIO',
 'ALCALA LA REAL',
 'UTEBO',
 'PUENTE GENIL',
 'MOIA',
 'ALCALA DE HENARES',
 'MATARO',
 'BAIO',
 'AVILA',
 'VENTURADA',
 'PARETS DEL VALLES,',
 'CUELLAR',
 'SANTA CRUZ DE TENERIFE',
 'ALGEZARES',
 'LOGROÑO - LA RIOJA',
 'OZA - CESURAS',
 'CEHEGIN',
 'PEAL DE BECERRO,',
 'TORRES DE COTILLAS',
 'ALCANTARILLA',
 'SIGÜEIRO',
 'MARRATXI',
 'ALBAIDA',
 'LUMBIER',
 'MONTEGUDO',
 'EL ALAMO',
 'PEÑARROYA-PUEBLONUEVO',
 'PINOS PUENTE',
 'SANTA CRUZ DE MUDELA',
 'OLIVENZA',
 'GUARDAMAR DEL SEGURA',
 'GUILLENA',
 'SEGURA DE LEON',
 'PAMPLONA',
 'CABRILS',
 'ALDEASECA DE ARMUÑA',
 'SAN PEDRO DEL PINATAR',
 'CASTRO-URDIALES',
 'PARACUELLOS DEL JARAMA',
 'HIGUERA LA REAL',
 'PUEBLA DE CAZALLA',
 'MENJIBAR',
 'YUNCOS',
 'PERILLO-OLEIROS',
 'SAN CIPRIAN DE VIÑAS',
 'GUITIRIZ',
 'VILLANUEVA DEL ARBOL',
 'SAN JUAN DE MOZARRIFAR',
 'ESTELLA',
 'CARMONA',
 'VILLANUEVA DE CÓRDOBA',
 'LORA DEL RIO',
 'HUMANES DE MADRID',
 'CARAVACA DE LA CRUZ',
 'BERJA',
 'MESON DO VENTO - ORDES',
 'SAN CLEMENTE',
 'MAIRENA DEL ALCOR,',
 'PUEBLA DEL RÍO',
 'BAILEN',
 'SEDAVÍ',
 'UTIEL',
 'SANT JOAN DE VILATORRADA',
 'PEAL DE BECERRO',
 'SANT JOAN DESPI',
 'CANET DE BERENGUER',
 'GRIÑON',
 'BADALONA',
 'SANTOMERA',
 'ALMENDRALEJO',
 'SABIÑÁNIGO',
 'MONTERRUBIO DE LA SERENA',
 'FINESTRAT',
 'TALAVERA LA REAL',
 'ANSOÁIN',
 'PUZOL',
 'VILLAJOYOSA',
 'TORREJON DE ARDOZ',
 'DÉNIA',
 'SAN FERNANDO',
 'LEGANES',
 'LOS VILLARES',
 'TORREORGAZ',
 'NUMANCIA DE LA SAGRA',
 'ALCUDIA',
 'BURGUILLOS DE TOLEDO',
 'PUERTO REAL',
 'GALDAKAO',
 'ETXEBARRI',
 'BAENA',
 'CONIL DE LA FRONTERA',
 'SANLÚCAR DE BARRAMEDA',
 'BAEZA',
 'CAMBRILS',
 'COSLADA',
 'MALGRAT DE MAR',
 'CONIL',
 'CARERIZOS',
 'JEREZ DE LA FRONTERA',
 'PARLA',
 'SANTA MARTA DE TORMES',
 'TITULCIA',
 'VILANOVA I LA GELTRU',
 'DAYA VIEJA',
 'CABANILLAS DEL CAMPO',
 'GETAFE',
 'CALDAS DE REIS',
 'CABEZUELA DEL VALLE',
 'MOS',
 'BALSAPINTADA',
 'AREVALO',
 'LINARES',
 'ALZIRA',
 'STA. DEL ÁGUILA (EL EJIDO)',
 'SANLUCAR DE BARRAMEDA',
 'DERIO',
 'JEREZ DE LOS CABALLEROS',
 'LA ESPERANZA',
 'CIUTADELLA',
 'ORIHUELA',
 'BALEARES',
 'ALCASSER',
 'AYAMONTE',
 'MOTRIL',
 'MUTRIKU',
 'PUENTECESURES',
 'MONT-RAS',
 'UBEDA',
 'ALHAURIN EL GRANDE',
 'NOIA',
 'LEPE',
 'LOS ALCAZARES',
 'TACORONTE',
 'MIJAS COSTA',
 'PLASENCIA',
 'BAILÉN',
 'TELDE',
 'BARAKALDO',
 'VINARÓS',
 'TORREJÓN DE ARDOZ',
 'ORENSE',
 'MANILVA',
 'PUERTO LUMBRERAS',
 'NOREÑA',
 'JAVEA',
 'ALMENARA',
 'SUECA',
 'LA ZUBIA',
 'JUMILLA',
 'CANTABRIA',
 'POLÁN',
 'CASSERRES',
 'VILLENA',
 'HONTORIA',
 'CENICERO',
 'ILLESCAS',
 'PINEDA DE MAR',
 'MASSANASSA/MASANASA',
 'EL CAMPELLO',
 'VALL D´UXO',
 'ALCORCON',
 'EL CUERVO , SEVILLA',
 'TORRELODONES',
 'ROTA',
 'PUERTO DE SANTA MARIA',
 'TORROELLA DE MONTGRI',
 'BALMASEDA',
 'ACEUCHAL',
 'VILLAVICIOSA DE ODÓN',
 'LAREDO',
 'SARRIÀ DE TER',
 'BENIPARRELL',
 'SANTIAGO DE COMPOSTELA',
 'ALBATERA',
 'TERRASA',
 'CAMANZO',
 'LA GUARDIA',
 'IGUALADA',
 'EL ROSARIO',
 'COLLOTO',
 'ERANDIO',
 'SANT JUST DESVERN',
 "LA VALL D'UIXÓ",
 'SAN ANDRES DEL RABANEDO',
 'CÁCERES',
 'IGOLLO DE CAMARGO',
 'MAJADAHONDA',
 'QUART DE POBLET',
 'VILAMARÍN',
 'ABANTO Y CIÉRVANA-ABANTO ZIERBENA',
 'SAN FERNANDO DE HENARES',
 'VILASSAR DE DALT',
 'BADIA DEL BALLES',
 'CAMARGO',
 'MANACOR',
 'OLOT',
 'COLLADO VILLALBA.',
 'GERONA',
 'SAN JAVIER',
 'VILLANUEVA DE LA CAÑADA',
 'ROIS',
 'TORRELAVEGA',
 'SAN FRUITOS DE BAGES',
 'CULLEREDO ( A CORUÑA)',
 'CARBALLO',
 'CUENCA',
 'LOS MONTESINOS',
 'GASTEIZ',
 'SAN PEDRO DE ALCANTARA',
 'SAN PEDRO ALCÁNTARA - MARBELLA',
 'VILALBA',
 'BERGA',
 'JEREZ',
 'CADIZ',
 'SALCEDO',
 'SEGUR DE CALAFELL',
 'VILLANUEVA DE GALLEGO,',
 'CALPE',
 'VINARÒS',
 'CALVIA',
 'LLIRIA',
 'VILADECAVALLS',
 'SAN SEBASTIÁN DE LOS REYES',
 'OVIEDO',
 'BERRIOPLANO/BERRIOBEITI',
 'CANDELEDA',
 'ZUERA',
 'TORREJÓN DE VELASCO',
 'HINOJOS',
 'VILLAFRANCA DE LOS BARROS',
 'LA CARLOTA',
 'ALCARRAS',
 'EL MONTALVO III - CARBAJOSA DE LA SAGRADA.',
 'VIGO - PONTEVEDRA',
 'TORREJÓN DE ARDOZ, MADRID',
 'TERUEL',
 'EJEA DE LOS CABALLEROS',
 'ORDES',
 'GRAN ALACANT(SANTA POLA)',
 'ALAQUÀS (VALENCIA)',
 'LIERES -',
 'LUANCO',
 'AJALVIR',
 'PUEBLA DE ALFINDÉN',
 'TORREJÓN DE LA CALZADA',
 'ALPICAT',
 'DONOSTIA-SAN SEBASTIAN',
 'CACICEDO',
 'MIJAS - ALGECIRAS',
 'EL PRAT DE LLOBREGAT',
 'RIVAS VACIAMADRID',
 'MIERES',
 'PULPI - ALMERIA',
 'CASTELL DE FELS',
 'CORIA',
 'SANT CUGAT',
 'ALMUÑECAR',
 'LA PUEBLA DE MONTALBAN',
 'SAN MIGUEL DE ABONA',
 'LUGONES-SIERO',
 'HOSPITALET DE LLOBREGAT',
 'CAMAS',
 'XIRIVELLA',
 'CASTALLA',
 'B-98395247',
 'MIJAS',
 'GETXO',
 'MORÓN DE LA FRONTERA',
 'LA PUEBLA DE ALFINDEN',
 'CALONGE',
 'VITORIA- GASTEIZ',
 'LLOCNOU DE SANT JERONI',
 'SAN VICENTE DEL RASPEIG,',
 'LAS PALMAS DE GRAN CANARIA',
 'NAVARRETE',
 'LOECHES',
 'MASSANASSA',
 'CÓRDOBA',
 'CASTRILLÓN',
 'SANTS - MONTJUÏC',
 'OJOS DE GARZA',
 'IBIZA',
 'MAHÓN - MENORCA',
 'RIBARROJA DEL TURIA',
 'GRANADILLA DE ABONA',
 'BENISSA',
 'LANGREO',
 'OLÈRDOLA',
 'CARBALLIÑO',
 'ELDA',
 'CERCEDILLA',
 'CORNELLÁ DE LLOBREGAT',
 'LEBRIJA',
 'CHINCHILLA',
 'SON FERRIOL',
 'ONTINYENT',
 'BENEJÚZAR',
 'BIGUES I RIELLS',
 'ALAQUAS',
 'AGONCILLO',
 'LA ROCA DEL VALLÈS',
 'LA GARRIGA - BARCELONA',
 'SAN GINES',
 'MONDEGO-SADA',
 'ALGUAIRE',
 'POLA DE SIERO',
 'CORUÑA',
 'VALENCIA - MONCADA',
 'ALMONTE',
 'TAJONAR',
 'PONFERRADA',
 'ORDIZIA',
 'TIÑANA',
 'LA PUEBLA DE ALFINDÉN',
 'TENERIFE',
 'JACA',
 'ANTEQUERA',
 'ARGANDA DE REY',
 'MORALZARZAL',
 'CUARTE DE HUERVA',
 'MARBELLA (PUERTO BANÚS)',
 'PALAU-SOLITA I PLEGAMANS',
 'ELIANA',
 'ALBOLOTE',
 'VILLAMURIEL DE CERRATO',
 'SANTA COLOMA DE GRAMANET',
 'TORROX',
 'MANSILLA DEL ESLA',
 'ARCHIDONA',
 'DONOSTIA-SAN SEBASTIÁN',
 'LERMA',
 'LOBOSILLO',
 'VILLARES DE LA REINA,',
 'LA BARCA DE LA FLORIDA',
 'MOLINS DE REI',
 'GODELLA',
 'ESPINARDO',
 'EL CASAR',
 'SAN SALVADOR DE MUXA',
 'HUELVA',
 'PEÑARANDA DE BRACAMONTE',
 'GERINDOTE',
 'PARETS DEL VALLES',
 'SANT FELIU DE LLOBREGAT',
 'RUBÍ',
 'LA LAGUNA',
 'CIUDAD RODRIGO',
 'GUADALAJARA',
 'CARDEDEU',
 'DURANGO',
 'ZARATÁN,',
 'ZARATÁN',
 'TORREJON DE ARDOZ,',
 'SAN SEBASTIÁN',
 'ONTIGOLA',
 'PERALES DEL RÍO',
 'VILLAVICIOSA DE ODON',
 'OIARTZUN',
 'TORREDONJIMENO',
 'ABENGIBRE',
 'CABRIANES (SALLENT)',
 'AMES',
 'GUARGACHO, ARONA',
 'BELLREGUARD',
 'CALELLA',
 'YECLA',
 'BENAVIDES DE ORBIGO',
 'MAIRENA DE ALJARAFE (POL. IND. PISA)',
 'CACERES',
 'RIBARROJA DEL TÚRIA',
 'MORA DE RUBIELOS',
 'MONISTROL DE MONTSERRAT',
 'ARMILLA',
 'TORREFARRERA',
 'HUÉSCAR',
 'PLAYA DE SAN JUAN',
 'AGUIMES',
 'MONTORNES DEL VALLES',
 '22006',
 'RIPOLL',
 'BENICARLO',
 'EL VENDRELL P.I. LA COMETA',
 'CARBAJOSA DE LA SAGRADA',
 'ASPE',
 'LA POBLA DE VALLBONA',
 'BANASTAS',
 'MASANASSA',
 'LES FRANQUESES',
 'LLINARS DEL VALLES',
 'ALBALAT DELS SORELLS',
 'ALCUESCAR',
 'PERALES DE TAJUÑA',
 'BENALMÁDENA',
 'CALAMONTE',
 'SAN SEBASTIÁN (GUIPUZCOA)',
 'BARBERA DEL VALLES',
 'CORUÑO-LLANERA',
 'IBARRA',
 'FUENTEALBILLA',
 'CEE',
 'POLIGONO INDUSTRIAL DE LOS VILLARES',
 'SANT JOAN DESPÍ',
 'LANTEJUELA',
 'CARRIZO DE LA RIBERA',
 'COLMENAR VIEJO',
 'APODAKA',
 'FONTETA',
 'LA SENIA',
 'HUÉRCAL DE ALMERÍA',
 'MEICENDE',
 'IURRETA',
 'BLANES',
 'CORNELLÀ DE LLOBREGAT',
 'GAVÀ',
 'RURAL GIJÓN',
 'ATARFE',
 'SAN BLAS-CANILLEJAS',
 "L'HOSPITALET DE LLOBREGAT",
 'IRÚN',
 'EL ZABAL',
 'ARRECIFE',
 'TROBAJO DEL CAMINO',
 'ALCALÁ DE GUADAIRA',
 'PORT DE SAGUNT',
 'ALCALÁ DE GUADAÍRA',
 'GUAZA',
 'ANOETA',
 'REOCÍN',
 'VALDEPEÑAS',
 'VÉLEZ',
 'VILADECANS',
 'VILAFRANCA DEL PENEDÈS',
 'VILAGARCÍA DE AROUSA',
 'PUEBLA DE SANCHO PÉREZ',
 'MONTEMAYOR (CÓRDOBA)',
 'SAN ROQUE',
 'DENIA',
 'ARMUNIA',
 'CERVERA',
 'ORTUELLA',
 'CARTAYA',
 'MAHÓN',
 'EIBAR',
 'SAN JUAN',
 'TRIGUEROS',
 'LEGAZPIA',
 'ALELLA',
 'MADROÑERA',
 '-',
 'EL PALMAR',
 'PALMA',
 'CHINCHILLA DE MONTE-ARAGÓN',
 'BIGASTRO',
 'LERIDA',
 'RIBADEO',
 'LLANERA',
 'LA RINCONADA',
 "L' ESPLUGA DE FRANCOLI",
 'ALJARAQUE',
 'TORREDEMBARRA',
 'GERNIKA',
 'GALENDE',
 'LLERONA',
 'EL ARRECIFE/ LA CARLOTA',
 'ALTEA',
 'ARANDA DE DUERO',
 'TORROX COSTA',
 'QUER',
 'CIEZA',
 'STA. COLOMA DE GRAMANET',
 'ALAVA',
 'LA HOYA',
 'VALVERDE DE LEGANES',
 'ARANGUREN',
 'CÚLLAR VEGA',
 'APARECIDA',
 'GUIPUZCOA',
 'EL RAAL',
 'NÁJERA',
 'ARENYS DE MAR',
 'ARBUCIES',
 'QUINTANAR DE LA ORDEN',
 'LAS CHAFIRAS',
 'PORRIÑO',
 'PEÑARROYA DE TASTAVINS',
 'SANGONERA LA SECA',
 'PALACIOS Y VILLAFRANCA',
 'SANTPEDOR',
 'PALAMÓS',
 'VALDEBEBAS',
 'SANCHONUÑO',
 'TOÉN',
 'BUÑOL',
 'GRANDA',
 'SAN CIBRAO DAS VIÑAS',
 'OLEIROS',
 'MERIDA',
 'VECINDARIO',
 'CONCENTAINA',
 'VALÈNCIA',
 'PILAS',
 '28021',
 'SOTILLO DE LA ADRADA',
 'JEREZ DE LA FRONTERA (CADIZ)',
 'JARRIO-COAÑA',
 'CASTELLBISBAL',
 'SOLSONA',
 'AVINYONET DEL PENEDES',
 'JAÉN',
 'PUERTOLLANO',
 'ROZAS DE PUERTO REAL',
 'MACARENA',
 'VIANA',
 'HARO',
 'CHIVA',
 'LALIN',
 'FORTUNA',
 'CEREZO DE ABAJO (SEGOVIA)',
 'MONTCADA I REIXACH',
 'BEGIJAR',
 'CAMARENA',
 'CORIA DEL RIO',
 'EL EJIDO',
 'BARBASTRO',
 'ASTIGARRAGA',
 'FOIOS',
 'ALMASSORA',
 'CARLET',
 'CARRAL',
 'AZKOITIA',
 'GALDAKANO',
 'GIJÓN',
 'BURLADA',
 'MEDINA DE RIOSECO',
 'DAIMIEL',
 'LES BORGES BLANQUES',
 'ARAHAL',
 'SANT CUGAT DEL VALLÈS',
 'CABEZO DE TORRES',
 'ESPARREGUERA',
 'VILLA DE OTURA',
 'CALDAS DE ESTRACH',
 'PONTEAREAS',
 'MONTGAT',
 'LUGONES',
 'NAVARRA',
 'MARTORELL',
 'CUEVAS DEL ALMANZORA',
 'VALVERDE DEL FRESNO',
 "CASTELLO D'EMPURIES",
 'VALDES',
 'TORRES DE LA ALAMEDA',
 'MUTILVA BAJA',
 'RUBI',
 'RAFELBUNYOL',
 'PALMAS DE GRAN CANARIA',
 'SADA',
 'PALAFOLLS',
 'LLANO DE BRUJAS',
 'BAZA (GRANADA)',
 'SAN PEDRO DE NOS',
 'SUNBILLA',
 'PARETS DEL VALLE',
 'TONA',
 'LA NUCIA',
 'OCAÑA',
 'PUERTO DE SAGUNTO',
 'OLESA DE MONTSERRAT',
 'MOLLET DEL VALLÉS',
 'CAZALEGAS',
 'LOGRONO',
 'LA HORMILLA',
 'XIRIVELLA - VALENCIA',
 'ALHAURIN DE LA TORRE',
 'ALBERIC',
 'LA PUEBLA DEL RIÓ',
 'VENTA DE BAÑOS',
 'ROQUETAS',
 'VEJER',
 'EL VISO DEL ALCOR (SEVILLA)',
 'ARANJUEZ',
 'LIBRILLA',
 'LINYOLA',
 'SANT FOST DE CAMPSENTELLES',
 'PINEDA MAR',
 'CORUXO',
 'MONTBLANC',
 'VALENCIA DE LAS TORRES',
 'RAVAL DE CRIST',
 'MARACENA',
 'PAIPORTA',
 'CORONIL',
 'PARACUELLOS DE JARAMA',
 'VULPELLAC',
 'MAJADAHONDA - MADRID',
 'MONGIA',
 'MUNGIA',
 'EL PUERTO DE SANTA MARÍA',
 'ARRIAGA- ERANDIO',
 'BARACALDO',
 'P.IND. VILLARES DE LA REINA',
 'VILASSAR DE DALT,',
 'MELIANA',
 'LA VIRGEN',
 '48500 GALLARTA',
 'TROBAJO DEL CAMINO-LEON',
 'FRAGA',
 'OLIVA',
 'LEJON',
 'CASTELLON DE LA PLANA',
 'ARAVACA',
 'EL PLANTIO',
 '28050',
 'GETAFE (MADRID)',
 'ARTICA',
 "L'ESCALA",
 'CABRA',
 'SANGONERA LA VERDE',
 'SANT ANTONI DE VILAMAYOR',
 'GAVA',
 'CLARIANA DE CARDENER',
 'FOZ',
 'EPILA',
 'FAZOURO',
 'MARTOS',
 'SANTA CRISTINA',
 'PUERTO DEL ROSSARIO',
 'SAN CRISTÓBAL DE LA LAGUNA',
 'TOMELLOSO',
 'TORRE DEL CAMPO',
 'MEEJORADA DEL CAMPO',
 'TORRE-PACHECO',
 'FUENTES DE BEJAR',
 'VILLANUEVA DE ALGAIDAS',
 'CASTAÑARES',
 'PALAU-SOLITÀ I PLEGAMANS,',
 'OGIJARES',
 'CASTROVERDE',
 'ARZÚA',
 'LEZAMA',
 'SAN CIPRIÁN DE VIÑAS, OURENSE',
 'COBEÑA',
 'ALDEA BLANCA',
 'CALDES DE MONTBUI',
 '29004',
 'CAS CATALÁ CALVIA',
 'SESEÑA',
 'TORRALBA DE CALATRAVA',
 'BARBATAIN',
 'CARNOTA',
 'FUENSALDAÑA',
 'LA CORONADA',
 'MARCHENA',
 'VILLAREZO (BURGOS)',
 'HONDARRIBI',
 'OLIUS',
 'LLUCMAJOR',
 'ALGODONALES',
 'MONCADA',
 'MARKINA',
 'PUENTE TOCINOS',
 'ANNA',
 'VERIN',
 'PEDRALBA',
 'BENALMÁDEMA',
 'LAGOA, A (SAN VICENTE) (ALFOZ)',
 'CALAFELL',
 'MULA',
 'ALHENDIN',
 'SANT JUST DESVERN (BARCELONA)',
 'TORREDELCAMPO',
 'OROZKO',
 'MENGÍBAR',
 'VILAFRANCA DEL PENEDES (BARCELONA)',
 'VITORIA-GASTEIZ (ALAVA)',
 'FUENCARRAL-EL PARDO',
 'MALLEN',
 'MIAMI PLAYA',
 'CAN PASTILLA',
 'BENETUSER',
 'LEJONA',
 'SALVATERRA DE MIÑO',
 'LA RAYA',
 'TEO',
 'LEIOA',
 'FONCALENT',
 'MÁLAGA CAPITAL',
 'PRAT DE LLOBREGAT',
 'SANT ANTONI DE CALONGE',
 'MASSANASA',
 "L' HOSPITALET DE LLOBREGAT",
 'SUBIRATS',
 'LA MORALEJA - ALCOBENDAS',
 'MONTSERRAT',
 'MUSEROS',
 'INCA',
 'CASTELLAR DEL VALLES',
 'SANTA SUSANNA',
 'VILLAGONZALO PEDERNALES',
 'SANTA PERPETUA DE MOGODA',
 'ARGANDA DEL REY,',
 ...]

In [152]:
df_conces['municipio'] = df_conces['municipio'].str.replace(r'\s*\(.*?\)', '', regex=True) #Saca texto entre paréntesis
df_conces['municipio'].unique().tolist()

['NARON',
 'INIESTA',
 'TALAVERA DE LA REINA',
 'MADRID',
 'ALDAIA',
 'VILLALBILLA',
 'CORNELLA DE TERRI',
 'PICASSENT',
 'SEGOVIA',
 'MALAGA',
 'PALMA DE MALLORCA',
 'MARBELLA',
 'MORALEJA DE ENMEDIO',
 'NUEVA ANDALUCIA ,',
 'VELEZ',
 'VALLADOLID',
 'RAJADELL',
 'LA MORALEJA',
 'VIZCAYA',
 'DON BENITO',
 'ALCAZAR DE SAN JUAN',
 'ROSELLO',
 'EL VERGEL',
 'CATOIRA',
 'SANT FRUITOS DE BAGES',
 'EIVISSA',
 'CASTRILLON',
 'LAS ROZAS',
 'MOLLET DEL VALLES',
 'ALMERIA',
 'NIJAR',
 'VILAGARCIA DE AROUSA',
 'BARCELONA',
 'GUADIX - GRANADA',
 'VILAMALLA',
 'ALGETE',
 'PLAYA DEL INGLES',
 nan,
 'ARNEDO',
 'NONDUERMAS',
 'ROZAS DE MADRID',
 'MOLINA DE SEGURA',
 'SALAMANCA',
 'ARTESA DEL SEGRE',
 'VICOLOZANO',
 'MOSTOLES',
 'RIPOLLET',
 'SALT',
 'ZARAGOZA',
 'PADUL',
 'VILANOVA I LA GELTRU',
 'COLLADO VILLALBA',
 'OROSO',
 'LOGRONO',
 'CIUDAD REAL',
 'PONFERRADA',
 'VITORIA',
 'ALTORRICON',
 'ONDARA',
 'COIN',
 'SAN SEBASTIAN DE LOS REYES',
 'POZO DE GUADALAJARA',
 'SAN AGUSTIN DEL GUADALIX',
 'UTRERA',
 'CERDANYOLA DEL VALLES',
 'VALDEMORO',
 'TORREVIEJA',
 'GELVES',
 'POZUELO DE ALARCON',
 'ALDEAMAYOR DE SAN MARTIN',
 'HUERCAL',
 'GRANADA',
 'ELCHE',
 'VILLAGONZALO',
 'LEON',
 'ZARATAN',
 'ESTEPONA',
 'MEJORADA DEL CAMPO',
 'VALENCIA',
 'NARRILLOS DE SAN LEONARDO',
 'CARTAGENA',
 'ZUBIA',
 'LAS TORRES DE COTILLAS',
 'FUENTE EL SAZ DEL JARAMA',
 'LEMOA',
 'MECO',
 'ALMANSA',
 'BAZA',
 'VILA-REAL',
 'LUGO',
 'OLIAS DEL REY',
 'ARGANDA DEL REY',
 'A CORUNA',
 'ARTEIXO',
 'UTRERA SEVILLA',
 'ALMORADI',
 'TUDELA',
 'CASTELLON',
 'VIC',
 'MATADEPERA',
 'MARTORELLES',
 'CARTES',
 'BENAVENTE',
 'FIGUERES',
 'REVILLARRUZ',
 'EL PUNTUAL',
 'FORNELLS DE LA SELVA',
 'NOAIN',
 'ALBACETE',
 'ZAMORA',
 'GIJON',
 'ALCOBENDAS',
 'RIVAS-VACIAMADRID',
 'BENALUP-CASAS VIEJAS',
 'BENIDORM',
 'VILABLAREIX',
 'SEVILLA',
 'JAVEA',
 'LORCA',
 'CERCEDA',
 'TARRAGONA',
 'ALCALA DE GUADAIRA',
 'MANLLEU',
 'BADAJOZ',
 'LEGANES',
 'GODELLETA',
 'HOSPITALET LLOBREGAT',
 'GRANOLLERS',
 'TORRE DEL MAR',
 'CASTELLON DE LA PLANA',
 'OURENSE',
 'CADRETE',
 'ARCOS DE LA FRONTERA',
 'MURCIA',
 'TORA',
 'RIBARROJA',
 'LA CORUNA',
 'TOLEDO',
 'BURGOS',
 'ARTES',
 'PILAR DE LA HORADADA',
 'PIEDRASBLANCAS',
 'JAEN',
 'PONTEVEDRA',
 'GUARDAMAR DEL SEGURA,',
 'LLEIDA',
 'ZARAUTZ',
 'AVILES',
 'ASTURIAS',
 'PALAFRUGELL',
 'SALINAS',
 'SANTA PERPETUA DE LA MOGODA',
 'CASTELLDEFELS',
 'CABRERA DE MAR',
 'SIERO',
 'BILBAO',
 'VITORIA-GASTEIZ',
 'VILLARES DE LA REINA',
 'HUESCA',
 'ALCORCON',
 'GIRONA',
 'PELIGROS',
 'PALENCIA',
 'LES PRESES',
 'GANDIA',
 'SAN MARTIN DE LA VEGA',
 'MONTCADA',
 'VIGO',
 'NOVELDA',
 'SANTA COLOMA DE GRAMENET',
 'MAIRENA DEL ALJARAFE',
 'CABRERA DEL MAR',
 'FUENLABRADA',
 'TORTOSA',
 'SANT JORDI',
 'ROSAS',
 'BENETUSSER',
 'ALCALA DE HENARES',
 'ESPLUGUES DE LLOBREGAT',
 'GALAPAR',
 'VILAFRANCA DEL PENEDES',
 'SORIA',
 'LLANES',
 'SAN VICENTE DEL RASPEIG',
 'BENALMADENA',
 'SABADELL',
 'ARGENTONA',
 'ALCANIZ',
 'PUIGCERDA',
 'CARRION DE CALATRAVA',
 'TAMAMES',
 'LORQUI',
 'SANTANDER',
 'TERRASSA',
 'SANT HIPOLIT DE VOLTREGA',
 'SAN CUGAT DEL VALLES',
 'ALFAZ DEL PI',
 'ALHAMA DE MURCIA, ,',
 'VILANOVA Y LA GELTRU',
 'ARROYOMOLINOS',
 'PINTO',
 'BARAJAS',
 'SANT BOI DE LLOBREGAT',
 'CULLERA',
 'SANTA CRISTINA DE ARO',
 'AMPOSTA',
 'PUEBLA DE DON FADRIQUE',
 'MANISES',
 'CORVERA DE ASTURIAS',
 'SANTA FE',
 'MANRESA',
 'XATIVA',
 "L'ALTET",
 'LA CANONJA',
 'SOSES',
 'HUMANES',
 'MONTURQUE',
 'BASAURI',
 'VILLANUEVA DEL ROSARIO',
 'VERGER',
 'SANTA POLA',
 'EL CUERVO',
 'TORREMOLINOS',
 'DONOSTIA',
 'IRUN',
 'FUENGIROLA',
 'SAGUNTO',
 'COGULLADA-CARCAIXENT',
 'BOADILLA DEL MONTE',
 'MANZANARES',
 'SANT CELONI',
 'SITGES',
 'ALPEDRETE',
 'EL VENDRELL',
 'EL PARADOR DE LAS HORTICHUELAS',
 'ALICANTE',
 'SANT ADRIA DE BESÒS',
 'CHURRA',
 'BASAURI,',
 'HUMANES DE MADRID.',
 'CALAHORRA',
 'REUS',
 'TRAPAGARAN',
 'HELLIN',
 'REY',
 'PATERNA',
 'MONFORTE DE LEMOS',
 'LLORET DE MAR',
 'MONDEJAR',
 'CORDOBA',
 'TORRENT',
 'ROQUETAS DE MAR',
 'PINSEQUE',
 'LA POBLA DE MAFUMET',
 'BALAGUER',
 'MATARO',
 'EL MASNOU',
 'SANT FRUITOS DE VAGES BARCELONA.',
 'GUARDIOLA DE BERGUEDA',
 'MOJADOS',
 'ESTACION DE BLANCA',
 'ORIHUELA COSTA',
 'CARAVACA',
 'MERES-SIERO',
 'LOS PALACIOS',
 'CREVILLENTE',
 'VILLAGARCIA DE AROUSA',
 'ANDUJAR',
 'ALGUAZAS',
 'DOS HERMANAS',
 'ALGECIRAS',
 'MAIRENA DEL ALCOR',
 'VALCABADO',
 'TORRIJOS',
 'SAN JUAN DE ENOVA',
 'HUERCAL DE ALMERIA',
 'IBI',
 'TRES CANTOS',
 'VELEZ MALAGA',
 'MONTIJO',
 'PALMA DEL RIO',
 'POZOBLANCO',
 'ALBORAYA',
 'ALFAFAR',
 'ALGEMESI',
 'OSUNA',
 'SEVILLA LA NUEVA',
 'ECIJA',
 'ALMAGRO',
 'CORNELLA DE LLOBREGAT',
 'CORIA DE RIO',
 'ALCALA LA REAL',
 'UTEBO',
 'PUENTE GENIL',
 'MOIA',
 'BAIO',
 'AVILA',
 'VENTURADA',
 'PARETS DEL VALLES,',
 'CUELLAR',
 'SANTA CRUZ DE TENERIFE',
 'ALGEZARES',
 'LOGRONO - LA RIOJA',
 'OZA - CESURAS',
 'CEHEGIN',
 'PEAL DE BECERRO,',
 'TORRES DE COTILLAS',
 'ALCANTARILLA',
 'SIGÜEIRO',
 'MARRATXI',
 'ALBAIDA',
 'LUMBIER',
 'MONTEGUDO',
 'EL ALAMO',
 'PENARROYA-PUEBLONUEVO',
 'PINOS PUENTE',
 'SANTA CRUZ DE MUDELA',
 'OLIVENZA',
 'GUARDAMAR DEL SEGURA',
 'GUILLENA',
 'SEGURA DE LEON',
 'PAMPLONA',
 'CABRILS',
 'ALDEASECA DE ARMUNA',
 'SAN PEDRO DEL PINATAR',
 'CASTRO-URDIALES',
 'PARACUELLOS DEL JARAMA',
 'HIGUERA LA REAL',
 'PUEBLA DE CAZALLA',
 'MENJIBAR',
 'YUNCOS',
 'PERILLO-OLEIROS',
 'SAN CIPRIAN DE VINAS',
 'GUITIRIZ',
 'VILLANUEVA DEL ARBOL',
 'SAN JUAN DE MOZARRIFAR',
 'ESTELLA',
 'CARMONA',
 'VILLANUEVA DE CORDOBA',
 'LORA DEL RIO',
 'HUMANES DE MADRID',
 'CARAVACA DE LA CRUZ',
 'BERJA',
 'MESON DO VENTO - ORDES',
 'SAN CLEMENTE',
 'MAIRENA DEL ALCOR,',
 'PUEBLA DEL RIO',
 'BAILEN',
 'SEDAVI',
 'UTIEL',
 'SANT JOAN DE VILATORRADA',
 'PEAL DE BECERRO',
 'SANT JOAN DESPI',
 'CANET DE BERENGUER',
 'GRINON',
 'BADALONA',
 'SANTOMERA',
 'ALMENDRALEJO',
 'SABINANIGO',
 'MONTERRUBIO DE LA SERENA',
 'FINESTRAT',
 'TALAVERA LA REAL',
 'ANSOAIN',
 'PUZOL',
 'VILLAJOYOSA',
 'TORREJON DE ARDOZ',
 'DENIA',
 'SAN FERNANDO',
 'LOS VILLARES',
 'TORREORGAZ',
 'NUMANCIA DE LA SAGRA',
 'ALCUDIA',
 'BURGUILLOS DE TOLEDO',
 'PUERTO REAL',
 'GALDAKAO',
 'ETXEBARRI',
 'BAENA',
 'CONIL DE LA FRONTERA',
 'SANLUCAR DE BARRAMEDA',
 'BAEZA',
 'CAMBRILS',
 'COSLADA',
 'MALGRAT DE MAR',
 'CONIL',
 'CARERIZOS',
 'JEREZ DE LA FRONTERA',
 'PARLA',
 'SANTA MARTA DE TORMES',
 'TITULCIA',
 'DAYA VIEJA',
 'CABANILLAS DEL CAMPO',
 'GETAFE',
 'CALDAS DE REIS',
 'CABEZUELA DEL VALLE',
 'MOS',
 'BALSAPINTADA',
 'AREVALO',
 'LINARES',
 'ALZIRA',
 'STA. DEL AGUILA',
 'DERIO',
 'JEREZ DE LOS CABALLEROS',
 'LA ESPERANZA',
 'CIUTADELLA',
 'ORIHUELA',
 'BALEARES',
 'ALCASSER',
 'AYAMONTE',
 'MOTRIL',
 'MUTRIKU',
 'PUENTECESURES',
 'MONT-RAS',
 'UBEDA',
 'ALHAURIN EL GRANDE',
 'NOIA',
 'LEPE',
 'LOS ALCAZARES',
 'TACORONTE',
 'MIJAS COSTA',
 'PLASENCIA',
 'TELDE',
 'BARAKALDO',
 'VINAROS',
 'ORENSE',
 'MANILVA',
 'PUERTO LUMBRERAS',
 'NORENA',
 'ALMENARA',
 'SUECA',
 'LA ZUBIA',
 'JUMILLA',
 'CANTABRIA',
 'POLAN',
 'CASSERRES',
 'VILLENA',
 'HONTORIA',
 'CENICERO',
 'ILLESCAS',
 'PINEDA DE MAR',
 'MASSANASSA/MASANASA',
 'EL CAMPELLO',
 'VALL D´UXO',
 'EL CUERVO , SEVILLA',
 'TORRELODONES',
 'ROTA',
 'PUERTO DE SANTA MARIA',
 'TORROELLA DE MONTGRI',
 'BALMASEDA',
 'ACEUCHAL',
 'VILLAVICIOSA DE ODON',
 'LAREDO',
 'SARRIA DE TER',
 'BENIPARRELL',
 'SANTIAGO DE COMPOSTELA',
 'ALBATERA',
 'TERRASA',
 'CAMANZO',
 'LA GUARDIA',
 'IGUALADA',
 'EL ROSARIO',
 'COLLOTO',
 'ERANDIO',
 'SANT JUST DESVERN',
 "LA VALL D'UIXO",
 'SAN ANDRES DEL RABANEDO',
 'CACERES',
 'IGOLLO DE CAMARGO',
 'MAJADAHONDA',
 'QUART DE POBLET',
 'VILAMARIN',
 'ABANTO Y CIERVANA-ABANTO ZIERBENA',
 'SAN FERNANDO DE HENARES',
 'VILASSAR DE DALT',
 'BADIA DEL BALLES',
 'CAMARGO',
 'MANACOR',
 'OLOT',
 'COLLADO VILLALBA.',
 'GERONA',
 'SAN JAVIER',
 'VILLANUEVA DE LA CANADA',
 'ROIS',
 'TORRELAVEGA',
 'SAN FRUITOS DE BAGES',
 'CULLEREDO',
 'CARBALLO',
 'CUENCA',
 'LOS MONTESINOS',
 'GASTEIZ',
 'SAN PEDRO DE ALCANTARA',
 'SAN PEDRO ALCANTARA - MARBELLA',
 'VILALBA',
 'BERGA',
 'JEREZ',
 'CADIZ',
 'SALCEDO',
 'SEGUR DE CALAFELL',
 'VILLANUEVA DE GALLEGO,',
 'CALPE',
 'VINARÒS',
 'CALVIA',
 'LLIRIA',
 'VILADECAVALLS',
 'OVIEDO',
 'BERRIOPLANO/BERRIOBEITI',
 'CANDELEDA',
 'ZUERA',
 'TORREJON DE VELASCO',
 'HINOJOS',
 'VILLAFRANCA DE LOS BARROS',
 'LA CARLOTA',
 'ALCARRAS',
 'EL MONTALVO III - CARBAJOSA DE LA SAGRADA.',
 'VIGO - PONTEVEDRA',
 'TORREJON DE ARDOZ, MADRID',
 'TERUEL',
 'EJEA DE LOS CABALLEROS',
 'ORDES',
 'GRAN ALACANT',
 'ALAQUAS',
 'LIERES -',
 'LUANCO',
 'AJALVIR',
 'PUEBLA DE ALFINDEN',
 'TORREJON DE LA CALZADA',
 'ALPICAT',
 'DONOSTIA-SAN SEBASTIAN',
 'CACICEDO',
 'MIJAS - ALGECIRAS',
 'EL PRAT DE LLOBREGAT',
 'RIVAS VACIAMADRID',
 'MIERES',
 'PULPI - ALMERIA',
 'CASTELL DE FELS',
 'CORIA',
 'SANT CUGAT',
 'ALMUNECAR',
 'LA PUEBLA DE MONTALBAN',
 'SAN MIGUEL DE ABONA',
 'LUGONES-SIERO',
 'HOSPITALET DE LLOBREGAT',
 'CAMAS',
 'XIRIVELLA',
 'CASTALLA',
 'B-98395247',
 'MIJAS',
 'GETXO',
 'MORON DE LA FRONTERA',
 'LA PUEBLA DE ALFINDEN',
 'CALONGE',
 'VITORIA- GASTEIZ',
 'LLOCNOU DE SANT JERONI',
 'SAN VICENTE DEL RASPEIG,',
 'LAS PALMAS DE GRAN CANARIA',
 'NAVARRETE',
 'LOECHES',
 'MASSANASSA',
 'SANTS - MONTJUÏC',
 'OJOS DE GARZA',
 'IBIZA',
 'MAHON - MENORCA',
 'RIBARROJA DEL TURIA',
 'GRANADILLA DE ABONA',
 'BENISSA',
 'LANGREO',
 'OLÈRDOLA',
 'CARBALLINO',
 'ELDA',
 'CERCEDILLA',
 'LEBRIJA',
 'CHINCHILLA',
 'SON FERRIOL',
 'ONTINYENT',
 'BENEJUZAR',
 'BIGUES I RIELLS',
 'AGONCILLO',
 'LA ROCA DEL VALLÈS',
 'LA GARRIGA - BARCELONA',
 'SAN GINES',
 'MONDEGO-SADA',
 'ALGUAIRE',
 'POLA DE SIERO',
 'CORUNA',
 'VALENCIA - MONCADA',
 'ALMONTE',
 'TAJONAR',
 'ORDIZIA',
 'TINANA',
 'TENERIFE',
 'JACA',
 'ANTEQUERA',
 'ARGANDA DE REY',
 'MORALZARZAL',
 'CUARTE DE HUERVA',
 'PALAU-SOLITA I PLEGAMANS',
 'ELIANA',
 'ALBOLOTE',
 'VILLAMURIEL DE CERRATO',
 'SANTA COLOMA DE GRAMANET',
 'TORROX',
 'MANSILLA DEL ESLA',
 'ARCHIDONA',
 'LERMA',
 'LOBOSILLO',
 'VILLARES DE LA REINA,',
 'LA BARCA DE LA FLORIDA',
 'MOLINS DE REI',
 'GODELLA',
 'ESPINARDO',
 'EL CASAR',
 'SAN SALVADOR DE MUXA',
 'HUELVA',
 'PENARANDA DE BRACAMONTE',
 'GERINDOTE',
 'PARETS DEL VALLES',
 'SANT FELIU DE LLOBREGAT',
 'RUBI',
 'LA LAGUNA',
 'CIUDAD RODRIGO',
 'GUADALAJARA',
 'CARDEDEU',
 'DURANGO',
 'ZARATAN,',
 'TORREJON DE ARDOZ,',
 'SAN SEBASTIAN',
 'ONTIGOLA',
 'PERALES DEL RIO',
 'OIARTZUN',
 'TORREDONJIMENO',
 'ABENGIBRE',
 'CABRIANES',
 'AMES',
 'GUARGACHO, ARONA',
 'BELLREGUARD',
 'CALELLA',
 'YECLA',
 'BENAVIDES DE ORBIGO',
 'MAIRENA DE ALJARAFE',
 'MORA DE RUBIELOS',
 'MONISTROL DE MONTSERRAT',
 'ARMILLA',
 'TORREFARRERA',
 'HUESCAR',
 'PLAYA DE SAN JUAN',
 'AGUIMES',
 'MONTORNES DEL VALLES',
 '22006',
 'RIPOLL',
 'BENICARLO',
 'EL VENDRELL P.I. LA COMETA',
 'CARBAJOSA DE LA SAGRADA',
 'ASPE',
 'LA POBLA DE VALLBONA',
 'BANASTAS',
 'MASANASSA',
 'LES FRANQUESES',
 'LLINARS DEL VALLES',
 'ALBALAT DELS SORELLS',
 'ALCUESCAR',
 'PERALES DE TAJUNA',
 'CALAMONTE',
 'BARBERA DEL VALLES',
 'CORUNO-LLANERA',
 'IBARRA',
 'FUENTEALBILLA',
 'CEE',
 'POLIGONO INDUSTRIAL DE LOS VILLARES',
 'LANTEJUELA',
 'CARRIZO DE LA RIBERA',
 'COLMENAR VIEJO',
 'APODAKA',
 'FONTETA',
 'LA SENIA',
 'MEICENDE',
 'IURRETA',
 'BLANES',
 'GAVA',
 'RURAL GIJON',
 'ATARFE',
 'SAN BLAS-CANILLEJAS',
 "L'HOSPITALET DE LLOBREGAT",
 'EL ZABAL',
 'ARRECIFE',
 'TROBAJO DEL CAMINO',
 'PORT DE SAGUNT',
 'GUAZA',
 'ANOETA',
 'REOCIN',
 'VALDEPENAS',
 'VILADECANS',
 'VILAFRANCA DEL PENEDÈS',
 'PUEBLA DE SANCHO PEREZ',
 'MONTEMAYOR',
 'SAN ROQUE',
 'ARMUNIA',
 'CERVERA',
 'ORTUELLA',
 'CARTAYA',
 'MAHON',
 'EIBAR',
 'SAN JUAN',
 'TRIGUEROS',
 'LEGAZPIA',
 'ALELLA',
 'MADRONERA',
 '-',
 'EL PALMAR',
 'PALMA',
 'CHINCHILLA DE MONTE-ARAGON',
 'BIGASTRO',
 'LERIDA',
 'RIBADEO',
 'LLANERA',
 'LA RINCONADA',
 "L' ESPLUGA DE FRANCOLI",
 'ALJARAQUE',
 'TORREDEMBARRA',
 'GERNIKA',
 'GALENDE',
 'LLERONA',
 'EL ARRECIFE/ LA CARLOTA',
 'ALTEA',
 'ARANDA DE DUERO',
 'TORROX COSTA',
 'QUER',
 'CIEZA',
 'STA. COLOMA DE GRAMANET',
 'ALAVA',
 'LA HOYA',
 'VALVERDE DE LEGANES',
 'ARANGUREN',
 'CULLAR VEGA',
 'APARECIDA',
 'GUIPUZCOA',
 'EL RAAL',
 'NAJERA',
 'ARENYS DE MAR',
 'ARBUCIES',
 'QUINTANAR DE LA ORDEN',
 'LAS CHAFIRAS',
 'PORRINO',
 'PENARROYA DE TASTAVINS',
 'SANGONERA LA SECA',
 'PALACIOS Y VILLAFRANCA',
 'SANTPEDOR',
 'PALAMOS',
 'VALDEBEBAS',
 'SANCHONUNO',
 'TOEN',
 'BUNOL',
 'GRANDA',
 'SAN CIBRAO DAS VINAS',
 'OLEIROS',
 'MERIDA',
 'VECINDARIO',
 'CONCENTAINA',
 'VALÈNCIA',
 'PILAS',
 '28021',
 'SOTILLO DE LA ADRADA',
 'JARRIO-COANA',
 'CASTELLBISBAL',
 'SOLSONA',
 'AVINYONET DEL PENEDES',
 'PUERTOLLANO',
 'ROZAS DE PUERTO REAL',
 'MACARENA',
 'VIANA',
 'HARO',
 'CHIVA',
 'LALIN',
 'FORTUNA',
 'CEREZO DE ABAJO',
 'MONTCADA I REIXACH',
 'BEGIJAR',
 'CAMARENA',
 'CORIA DEL RIO',
 'EL EJIDO',
 'BARBASTRO',
 'ASTIGARRAGA',
 'FOIOS',
 'ALMASSORA',
 'CARLET',
 'CARRAL',
 'AZKOITIA',
 'GALDAKANO',
 'BURLADA',
 'MEDINA DE RIOSECO',
 'DAIMIEL',
 'LES BORGES BLANQUES',
 'ARAHAL',
 'SANT CUGAT DEL VALLÈS',
 'CABEZO DE TORRES',
 'ESPARREGUERA',
 'VILLA DE OTURA',
 'CALDAS DE ESTRACH',
 'PONTEAREAS',
 'MONTGAT',
 'LUGONES',
 'NAVARRA',
 'MARTORELL',
 'CUEVAS DEL ALMANZORA',
 'VALVERDE DEL FRESNO',
 "CASTELLO D'EMPURIES",
 'VALDES',
 'TORRES DE LA ALAMEDA',
 'MUTILVA BAJA',
 'RAFELBUNYOL',
 'PALMAS DE GRAN CANARIA',
 'SADA',
 'PALAFOLLS',
 'LLANO DE BRUJAS',
 'SAN PEDRO DE NOS',
 'SUNBILLA',
 'PARETS DEL VALLE',
 'TONA',
 'LA NUCIA',
 'OCANA',
 'PUERTO DE SAGUNTO',
 'OLESA DE MONTSERRAT',
 'CAZALEGAS',
 'LA HORMILLA',
 'XIRIVELLA - VALENCIA',
 'ALHAURIN DE LA TORRE',
 'ALBERIC',
 'LA PUEBLA DEL RIO',
 'VENTA DE BANOS',
 'ROQUETAS',
 'VEJER',
 'EL VISO DEL ALCOR',
 'ARANJUEZ',
 'LIBRILLA',
 'LINYOLA',
 'SANT FOST DE CAMPSENTELLES',
 'PINEDA MAR',
 'CORUXO',
 'MONTBLANC',
 'VALENCIA DE LAS TORRES',
 'RAVAL DE CRIST',
 'MARACENA',
 'PAIPORTA',
 'CORONIL',
 'PARACUELLOS DE JARAMA',
 'VULPELLAC',
 'MAJADAHONDA - MADRID',
 'MONGIA',
 'MUNGIA',
 'EL PUERTO DE SANTA MARIA',
 'ARRIAGA- ERANDIO',
 'BARACALDO',
 'P.IND. VILLARES DE LA REINA',
 'VILASSAR DE DALT,',
 'MELIANA',
 'LA VIRGEN',
 '48500 GALLARTA',
 'TROBAJO DEL CAMINO-LEON',
 'FRAGA',
 'OLIVA',
 'LEJON',
 'ARAVACA',
 'EL PLANTIO',
 '28050',
 'ARTICA',
 "L'ESCALA",
 'CABRA',
 'SANGONERA LA VERDE',
 'SANT ANTONI DE VILAMAYOR',
 'CLARIANA DE CARDENER',
 'FOZ',
 'EPILA',
 'FAZOURO',
 'MARTOS',
 'SANTA CRISTINA',
 'PUERTO DEL ROSSARIO',
 'SAN CRISTOBAL DE LA LAGUNA',
 'TOMELLOSO',
 'TORRE DEL CAMPO',
 'MEEJORADA DEL CAMPO',
 'TORRE-PACHECO',
 'FUENTES DE BEJAR',
 'VILLANUEVA DE ALGAIDAS',
 'CASTANARES',
 'PALAU-SOLITA I PLEGAMANS,',
 'OGIJARES',
 'CASTROVERDE',
 'ARZUA',
 'LEZAMA',
 'SAN CIPRIAN DE VINAS, OURENSE',
 'COBENA',
 'ALDEA BLANCA',
 'CALDES DE MONTBUI',
 '29004',
 'CAS CATALA CALVIA',
 'SESENA',
 'TORRALBA DE CALATRAVA',
 'BARBATAIN',
 'CARNOTA',
 'FUENSALDANA',
 'LA CORONADA',
 'MARCHENA',
 'VILLAREZO',
 'HONDARRIBI',
 'OLIUS',
 'LLUCMAJOR',
 'ALGODONALES',
 'MONCADA',
 'MARKINA',
 'PUENTE TOCINOS',
 'ANNA',
 'VERIN',
 'PEDRALBA',
 'BENALMADEMA',
 'LAGOA, A',
 'CALAFELL',
 'MULA',
 'ALHENDIN',
 'TORREDELCAMPO',
 'OROZKO',
 'MENGIBAR',
 'FUENCARRAL-EL PARDO',
 'MALLEN',
 'MIAMI PLAYA',
 'CAN PASTILLA',
 'BENETUSER',
 'LEJONA',
 'SALVATERRA DE MINO',
 'LA RAYA',
 'TEO',
 'LEIOA',
 'FONCALENT',
 'MALAGA CAPITAL',
 'PRAT DE LLOBREGAT',
 'SANT ANTONI DE CALONGE',
 'MASSANASA',
 "L' HOSPITALET DE LLOBREGAT",
 'SUBIRATS',
 'LA MORALEJA - ALCOBENDAS',
 'MONTSERRAT',
 'MUSEROS',
 'INCA',
 'CASTELLAR DEL VALLES',
 'SANTA SUSANNA',
 'VILLAGONZALO PEDERNALES',
 'SANTA PERPETUA DE MOGODA',
 'ARGANDA DEL REY,',
 'CASTILLEJA DE LA CUESTA',
 'CABEZON DE LA SAL',
 'MUNGUIA',
 'XERACO',
 'MELIDE',
 'VILLANUEVA DEL RIO Y MINAS',
 'LES BOTIQUES DSITGES',
 'HINOJOSA',
 'EGUES',
 'CANGAS DEL NARCEA',
 'VILLANUEVA DE GALLEGO',
 'MIGUELTURRA',
 'CAMARENA DE LA SIERRA',
 'GRNADA',
 'VIQUEIRA',
 'MELILLA',
 'FORNELS DE LA SELVA',
 'AGUILAR DE CAMPOO',
 'ZIZURKIL',
 'LOIU',
 'LA OROTAVA',
 'RAICES NUEVOS',
 'FIGUERAS',
 'LAS ROZAS-EUROPOLIS',
 'CARRION DE LOS CESPEDES',
 'SANTA ROSALIA',
 'BERRIOZAR',
 'PALACIOS DEL SIL',
 'PUEBLA DE VALLBONA',
 'CIUTADELLA DE MENORCA',
 'RAFAL',
 'MONTCADA I REIXAC',
 'ALMAZORA',
 'COLMENAR',
 'LUCENA',
 'ELGOIBAR',
 'FERROL',
 'SANT ANDREU',
 'LLIÇA DE VALL',
 'LAS ROZAS DE MADRID',
 'MERES',
 'VILLAVA',
 'EL PUERTO DE STA MARIA',
 'RIVAS',
 'MALIANO',
 'SAN JOSE',
 'ARONA',
 'CALONGE DE SEGARRA',
 'SAN FULGENCIO',
 'ZALLA',
 'JAVEA/XABIA',
 'LAS PALMAS',
 'CRUZ DE HUMILLADERO',
 'LAGUNA DE DUERO',
 'BENIAJAN',
 ...]

In [105]:
df_conces[df_conces['provincia'].isna()].set_index('municipio')['provincia'].to_dict()

{'DON BENITO': nan,
 'MALAGA': nan,
 'ALMERIA': nan,
 'NIJAR': nan,
 'PLAYA DEL INGLES': nan,
 'ARTESA DEL SEGRE': nan,
 'VICOLOZANO': nan,
 'OROSO': nan,
 'PONFERRADA': nan,
 'ALTORRICON': nan,
 'ONDARA': nan,
 'GRANADA': nan,
 'ESTEPONA': nan,
 'FUENTE EL SAZ DEL JARAMA': nan,
 'LEMOA': nan,
 'A CORUNA': nan,
 'ARTEIXO': nan,
 'UTRERA SEVILLA': nan,
 'ALMORADI': nan,
 'CASTELLON': nan,
 'MARTORELLES': nan,
 'ALGETE': nan,
 'BAZA': nan,
 'ZAMORA': nan,
 'GIJON': nan,
 'BENIDORM': nan,
 'TORREVIEJA': nan,
 'CERCEDA': nan,
 'ALCALA DE GUADAIRA': nan,
 'MANLLEU': nan,
 'MADRID': nan,
 'LEGANES': nan,
 'HOSPITALET LLOBREGAT': nan,
 'TORRE DEL MAR': nan,
 'CADRETE': nan,
 'VALLADOLID': nan,
 'CERDANYOLA DEL VALLES': nan,
 'CORIA DE RIO': nan,
 'BOADILLA DEL MONTE': nan,
 'TALAVERA DE LA REINA': nan,
 'EL CUERVO , SEVILLA': nan,
 'CAMANZO': nan,
 'MOS': nan,
 'LA GUARDIA': nan,
 "LA VALL D'UIXO": nan,
 'GIRONA': nan,
 'ABANTO Y CIERVANA-ABANTO ZIERBENA': nan,
 'ROIS': nan,
 'CULLEREDO': nan,
 'ZUERA': nan,
 'HINOJOS': nan,
 'VILLAFRANCA DE LOS BARROS': nan,
 'TORREJON DE ARDOZ, MADRID': nan,
 'ALAQUAS': nan,
 'LIERES -': nan,
 'PULPI - ALMERIA': nan,
 'IGUALADA': nan,
 'SANT CUGAT': nan,
 'B-98395247': nan,
 'ARGANDA DEL REY': nan,
 'OLÈRDOLA': nan,
 'LA PUEBLA DE ALFINDEN': nan,
 'OLOT': nan,
 'ALGUAIRE': nan,
 'VALENCIA - MONCADA': nan,
 'LUGO': nan,
 'BALMASEDA': nan,
 'SANTA CRUZ DE TENERIFE': nan,
 'ORDIZIA': nan,
 'BARCELONA': nan,
 'MANSILLA DEL ESLA': nan,
 'BADALONA': nan,
 'LA BARCA DE LA FLORIDA': nan,
 'GODELLA': nan,
 'SANTA COLOMA DE GRAMANET': nan,
 'RIVAS VACIAMADRID': nan,
 'SORIA': nan,
 'ALCALA DE HENARES': nan,
 'SAN SEBASTIAN': nan,
 'PALENCIA': nan,
 'ABENGIBRE': nan,
 'CABRIANES': nan,
 'GUARGACHO, ARONA': nan,
 nan: nan,
 'BENAVIDES DE ORBIGO': nan,
 'CACERES': nan,
 'ALZIRA': nan,
 'RIBARROJA DEL TURIA': nan,
 'MORA DE RUBIELOS': nan,
 'TRAPAGARAN': nan,
 'BENIPARRELL': nan,
 'ALCUESCAR': nan,
 'PERALES DE TAJUNA': nan,
 'MURCIA': nan,
 'BENALMADENA': nan,
 'CALAMONTE': nan,
 'PALMA DE MALLORCA': nan,
 'MATARO': nan,
 'RAJADELL': nan,
 'IBARRA': nan,
 'LEON': nan,
 'TERUEL': nan,
 'LANTEJUELA': nan,
 'FONTETA': nan,
 'MONTEMAYOR': nan,
 'LEGAZPIA': nan,
 'GRANOLLERS': nan,
 'LA RINCONADA': nan,
 'ALJARAQUE': nan,
 'PARLA': nan,
 'GERNIKA': nan,
 'VIZCAYA': nan,
 'QUER': nan,
 'LA HOYA': nan,
 'IBIZA': nan,
 'GUIPUZCOA': nan,
 'ARENYS DE MAR': nan,
 'QUINTANAR DE LA ORDEN': nan,
 'HUELVA': nan,
 'PENARROYA DE TASTAVINS': nan,
 'SANTPEDOR': nan,
 'TOEN': nan,
 'SEGOVIA': nan,
 'ROTA': nan,
 'MOLINA DE SEGURA': nan,
 '28021': nan,
 'VILANOVA I LA GELTRU': nan,
 'MOLINS DE REI': nan,
 'AVINYONET DEL PENEDES': nan,
 'JAEN': nan,
 'MARBELLA': nan,
 'LALIN': nan,
 'HELLIN': nan,
 'CEREZO DE ABAJO': nan,
 'CAMARENA': nan,
 'VILADECANS': nan,
 'CARLET': nan,
 'CARRAL': nan,
 'AZKOITIA': nan,
 'MEDINA DE RIOSECO': nan,
 'DAIMIEL': nan,
 'GANDIA': nan,
 'VALVERDE DEL FRESNO': nan,
 'VALDES': nan,
 'SANTIAGO DE COMPOSTELA': nan,
 'VIGO': nan,
 'VALENCIA': nan,
 'PONTEVEDRA': nan,
 'SANTA FE': nan,
 'OLESA DE MONTSERRAT': nan,
 'PINTO': nan,
 'LA HORMILLA': nan,
 'OURENSE': nan,
 'GAVA': nan,
 '-': nan,
 'SANT FOST DE CAMPSENTELLES': nan,
 'DENIA': nan,
 'PINEDA MAR': nan,
 'TORA': nan,
 'ELCHE': nan,
 'VALENCIA DE LAS TORRES': nan,
 'RAVAL DE CRIST': nan,
 'ARAHAL': nan,
 'MONGIA': nan,
 'MUNGIA': nan,
 'EL PUERTO DE SANTA MARIA': nan,
 'HUESCA': nan,
 'TROBAJO DEL CAMINO': nan,
 'GETAFE': nan,
 "L'ESCALA": nan,
 'VITORIA-GASTEIZ': nan,
 'FOZ': nan,
 'FAZOURO': nan,
 'MECO': nan,
 'ALAVA': nan,
 'CASTROVERDE': nan,
 'ARZUA': nan,
 'LEZAMA': nan,
 'CARNOTA': nan,
 'FUENSALDANA': nan,
 'LA CORONADA': nan,
 'LA CORUNA': nan,
 'MARCHENA': nan,
 'VILLAREZO': nan,
 'HONDARRIBI': nan,
 'TOLEDO': nan,
 'CORIA': nan,
 'BAILEN': nan,
 'BENAVENTE': nan,
 'ZARAGOZA': nan,
 'LLUCMAJOR': nan,
 'LAGOA, A': nan,
 'MARTORELL': nan,
 'LLEIDA': nan,
 'ASTURIAS': nan,
 'ALBACETE': nan,
 'OROZKO': nan,
 'VILAFRANCA DEL PENEDES': nan,
 'SARRIA DE TER': nan,
 'CAN PASTILLA': nan,
 'IRUN': nan,
 'SUBIRATS': nan,
 'CALDES DE MONTBUI': nan,
 'VILLANUEVA DEL RIO Y MINAS': nan,
 'SAN FERNANDO DE HENARES': nan,
 'PALAU-SOLITA I PLEGAMANS': nan,
 'VILLANUEVA DE GALLEGO': nan,
 'CAMARENA DE LA SIERRA': nan,
 'AGUILAR DE CAMPOO': nan,
 'LOIU': nan,
 'CIUTADELLA DE MENORCA': nan,
 'RAFAL': nan,
 'MONTCADA I REIXAC': nan,
 'ARONA': nan,
 'ZALLA': nan,
 'CARRACEDELO': nan,
 'RIBADESELLA': nan,
 'MADRIGUERAS': nan,
 'PALOS DE LA FRONTERA': nan,
 'BERGA': nan,
 'CUARTE DE HUERVA': nan,
 'TORRELAMEU': nan,
 'PERATALLADA': nan,
 'QUINTO': nan,
 'EL CAMPILLO': nan,
 'GALLUR': nan,
 'TERRASSA': nan,
 'O BARCO': nan,
 'MORALZARZAL': nan,
 'LAGUNA DE DUERO': nan,
 'PELABRAVO': nan,
 'CARTAYA': nan,
 'LAS PALMAS DE GRAN CANARIA': nan,
 'GUADALAJARA': nan,
 'BECERRIL DE LA SIERRA': nan,
 'OCANA': nan,
 'ALQUERIAS DEL NINO PERDIDO': nan,
 'SEVILLA': nan,
 'PATERNA': nan,
 'VILA-SANA MOLLERUSSA': nan,
 'BETANZOS': nan,
 'EL ESPINAR': nan,
 'CORNELLA DE LLOBREGAT': nan,
 'OCANA - TOLEDO': nan,
 'MILAGROS': nan,
 'VILA-REAL': nan,
 'NULES': nan,
 'SAN MIGUEL DEL CAMINO': nan,
 'O CARBALLINO': nan,
 'CORUNA': nan,
 'O GROVE': nan,
 'AGUAUDLCE': nan,
 'MONTIJO': nan,
 'MONTORNES DEL VALLES': nan,
 'TRES CANTOS': nan,
 'FENE': nan,
 'VILLAMARTIN': nan,
 'PAIPORTA': nan,
 'MIJAS': nan,
 'MANCHA REAL': nan,
 'AZUQUECA DE HENARES': nan,
 'SAN TIRSO DE ABRES': nan,
 'ALDAYA - VALENCIA': nan,
 'NORENA': nan,
 'SAN MARTIN DE LA VEGA': nan,
 'HERENCIA': nan,
 'SALVATERRA DE MINO': nan,
 'BUSOT': nan,
 "L'AMETLLA DE MAR": nan,
 'COIN': nan,
 'GUIJON- ASTURIAS': nan,
 'ARGAMASILLA DE CALATRAVA': nan,
 'MIAJADAS': nan,
 'TARRAGONA': nan,
 'TERESA': nan,
 'OVIEDO': nan,
 'LES FRANQUESES DEL VALLÈS': nan,
 'MONTMELO': nan,
 'QUART DE POBLET': nan,
 'SAN ADRIAN LA LOSILLA': nan,
 'VEDRA': nan,
 'MALPARTIDA DE CACERES': nan,
 'LUCENA': nan,
 'AIGUAVIVA': nan,
 'FONDARELLA,': nan,
 'SANFULGENCIO': nan,
 'CAMPOHERMOSO': nan,
 'SERON': nan,
 'CIUDAD REAL': nan,
 'CARBALLO': nan,
 'RIUDELLOTS DE LA SELVA': nan,
 'ORENSE': nan,
 'SILLA': nan}

In [ ]:

municipios_provincias1 = {
    'DON BENITO': 'Badajoz', 
    'MALAGA': 'Málaga',
    'ALMERIA': 'Almería',
    'NIJAR': 'Almería',
    'PLAYA DEL INGLES': 'Las Palmas',
    'ARTESA DEL SEGRE': 'Lleida',
    'VICOLOZANO': 'Ávila',
    'OROSO': 'A Coruña',
    'PONFERRADA': 'León',
    'ALTORRICON': 'Huesca',
    'ONDARA': 'Alicante',
    'GRANADA': 'Granada',
    'ESTEPONA': 'Málaga',
    'FUENTE EL SAZ DEL JARAMA': 'Madrid',
    'LEMOA': 'Bizkaia',
    'A CORUNA': 'A Coruña',
    'ARTEIXO': 'A Coruña',
    'UTRERA SEVILLA': 'Sevilla',
    'ALMORADI': 'Alicante',
    'CASTELLON': 'Castellón',
    'MARTORELLES': 'Barcelona',
    'ALGETE': 'Madrid',
    'BAZA': 'Granada',
    'ZAMORA': 'Zamora',
    'GIJON': 'Asturias',
    'BENIDORM': 'Alicante',
    'TORREVIEJA': 'Alicante',
    'CERCEDA': 'A Coruña',
    'ALCALA DE GUADAIRA': 'Sevilla',
    'MANLLEU': 'Barcelona',
    'MADRID': 'Madrid',
    'LEGANES': 'Madrid',
    'HOSPITALET LLOBREGAT': 'Barcelona',
    'TORRE DEL MAR': 'Málaga',
    'CADRETE': 'Zaragoza',
    'VALLADOLID': 'Valladolid',
    'CERDANYOLA DEL VALLES': 'Barcelona',
    'CORIA DE RIO': 'Sevilla',
    'BOADILLA DEL MONTE': 'Madrid',
    'TALAVERA DE LA REINA': 'Toledo',
    'EL CUERVO , SEVILLA': 'Sevilla',
    'CAMANZO': 'Pontevedra',
    'MOS': 'Pontevedra',
    'LA GUARDIA': 'Pontevedra',
    "LA VALL D'UIXO": 'Castellón',
    'GIRONA': 'Girona',
    'ABANTO Y CIERVANA-ABANTO ZIERBENA': 'Bizkaia',
    'ROIS': 'A Coruña',
    'CULLEREDO': 'A Coruña',
    'ZUERA': 'Zaragoza',
    'HINOJOS': 'Huelva',
    'VILLAFRANCA DE LOS BARROS': 'Badajoz',
    'TORREJON DE ARDOZ, MADRID': 'Madrid',
    'ALAQUAS': 'Valencia',
    'LIERES -': 'Asturias',
    'PULPI - ALMERIA': 'Almería',
    'IGUALADA': 'Barcelona',
    'SANT CUGAT': 'Barcelona',
    'ARGANDA DEL REY': 'Madrid',
    'OLÈRDOLA': 'Barcelona',
    'LA PUEBLA DE ALFINDEN': 'Zaragoza',
    'OLOT': 'Girona',
    'ALGUAIRE': 'Lleida',
    'VALENCIA - MONCADA': 'Valencia',
    'LUGO': 'Lugo',
    'BALMASEDA': 'Bizkaia',
    'SANTA CRUZ DE TENERIFE': 'Santa Cruz de Tenerife',
    'ORDIZIA': 'Gipuzkoa',
    'BARCELONA': 'Barcelona',
    'MANSILLA DEL ESLA': 'León',
    'BADALONA': 'Barcelona',
    'LA BARCA DE LA FLORIDA': 'Cádiz',
    'GODELLA': 'Valencia',
    'SANTA COLOMA DE GRAMANET': 'Barcelona',
    'RIVAS VACIAMADRID': 'Madrid',
    'SORIA': 'Soria',
    'ALCALA DE HENARES': 'Madrid',
    'SAN SEBASTIAN': 'Gipuzkoa',
    'PALENCIA': 'Palencia',
    'ABENGIBRE': 'Albacete',
    'CABRIANES': 'Barcelona',
    'GUARGACHO, ARONA': 'Santa Cruz de Tenerife',
    'BENAVIDES DE ORBIGO': 'León',
    'CACERES': 'Cáceres',
    'ALZIRA': 'Valencia',
    'RIBARROJA DEL TURIA': 'Valencia',
    'MORA DE RUBIELOS': 'Teruel',
    'TRAPAGARAN': 'Bizkaia',
    'BENIPARRELL': 'Valencia',
    'ALCUESCAR': 'Cáceres',
    'PERALES DE TAJUNA': 'Madrid',
    'MURCIA': 'Murcia',
    'BENALMADENA': 'Málaga',
    'CALAMONTE': 'Badajoz',
    'PALMA DE MALLORCA': 'Illes Balears',
    'MATARO': 'Barcelona',
    'RAJADELL': 'Barcelona',
    'IBARRA': 'Gipuzkoa',
    'LEON': 'León',
    'TERUEL': 'Teruel',
    'LANTEJUELA': 'Sevilla',
    'FONTETA': 'Girona',
    'MONTEMAYOR': 'Córdoba',
    'LEGAZPIA': 'Gipuzkoa',
    'GRANOLLERS': 'Barcelona',
    'LA RINCONADA': 'Sevilla',
    'ALJARAQUE': 'Huelva',
    'PARLA': 'Madrid',
    'GERNIKA': 'Bizkaia',
    'VIZCAYA': 'Bizkaia',
    'QUER': 'Guadalajara',
    'LA HOYA': 'Murcia',
    'IBIZA': 'Illes Balears',
    'GUIPUZCOA': 'Gipuzkoa',
    'ARENYS DE MAR': 'Barcelona',
    'QUINTANAR DE LA ORDEN': 'Toledo',
    'HUELVA': 'Huelva',
    'PENARROYA DE TASTAVINS': 'Teruel',
    'SANTPEDOR': 'Barcelona',
    'TOEN': 'Ourense',
    'SEGOVIA': 'Segovia',
    'ROTA': 'Cádiz',
    'MOLINA DE SEGURA': 'Murcia',
    'VILANOVA I LA GELTRU': 'Barcelona',
    'MOLINS DE REI': 'Barcelona',
    'AVINYONET DEL PENEDES': 'Barcelona',
    'JAEN': 'Jaén',
    'MARBELLA': 'Málaga',
    'LALIN': 'Pontevedra',
    'HELLIN': 'Albacete',
    'CEREZO DE ABAJO': 'Segovia',
    'CAMARENA': 'Guadalajara',
    'VILADECANS': 'Barcelona',
    'CARLET': 'Valencia',
    'CARRAL': 'A Coruña',
    'AZKOITIA': 'Gipuzkoa',
    'MEDINA DE RIOSECO': 'Valladolid',
    'DAIMIEL': 'Ciudad Real',
    'GANDIA': 'Valencia',
    'VALVERDE DEL FRESNO': 'Badajoz',
    'VALDES': 'Asturias',
    'SANTIAGO DE COMPOSTELA': 'A Coruña',
    'VIGO': 'Pontevedra',
    'VALENCIA': 'Valencia',
    'PONTEVEDRA': 'Pontevedra',
    'SANTA FE': 'Granada',
    'OLESA DE MONTSERRAT': 'Barcelona',
    'PINTO': 'Madrid',
    'LA HORMILLA': 'Madrid',
    'OURENSE': 'Ourense',
    'GAVA': 'Barcelona',
    'SANT FOST DE CAMPSENTELLES': 'Barcelona',
    'DENIA': 'Alicante',
    'PINEDA MAR': 'Barcelona',
    'TORA': 'Tarragona',
    'ELCHE': 'Alicante',
    'VALENCIA DE LAS TORRES': 'Badajoz',
    'RAVAL DE CRIST': 'Valencia',
    'ARAHAL': 'Sevilla',
    'MONGIA': 'Barcelona',
    'MUNGIA': 'Bizkaia',
    'EL PUERTO DE SANTA MARIA': 'Cádiz',
    'HUESCA': 'Huesca',
    'TROBAJO DEL CAMINO': 'León',
    'GETAFE': 'Madrid',
    "L'ESCALA": 'Girona',
    'VITORIA-GASTEIZ': 'Álava',
    'FOZ': 'Lugo',
    'FAZOURO': 'Lugo',
    'MECO': 'Madrid',
    'ALAVA': 'Álava',
    'CASTROVERDE': 'Lugo',
    'ARZUA': 'A Coruña',
    'LEZAMA': 'Bizkaia',
    'CARNOTA': 'A Coruña',
    'FUENSALDANA': 'Valladolid',
    'LA CORONADA': 'Badajoz',
    'LA CORUNA': 'A Coruña',
    'MARCHENA': 'Sevilla',
    'VILLAREZO': 'Burgos',
    'HONDARRIBI': 'Gipuzkoa',
    'TOLEDO': 'Toledo',
    'CORIA': 'Cáceres',
    'BAILEN': 'Jaén',
    'BENAVENTE': 'Zamora',
    'ZARAGOZA': 'Zaragoza',
    'ALBA DE TORMES': 'Salamanca',
    'PALMA DEL RIO': 'Córdoba',
    'LAS ROZAS DE MADRID': 'Madrid',
    'PUEBLA DEL RIO': 'Sevilla',
    'CABRERA DE MAR': 'Barcelona',
    'FUENLABRADA': 'Madrid'
}

df_conces['provincia'] = df_conces.apply(lambda row: municipios_provincias1.get(row['municipio'], row['provincia']), axis=1)

In [154]:
df_conces[df_conces['provincia'].isna()].set_index('municipio')['provincia'].to_dict()

{'B-98395247': None,
 nan: nan,
 '-': None,
 '28021': None,
 'LLUCMAJOR': nan,
 'LAGOA, A': nan,
 'MARTORELL': nan,
 'LLEIDA': nan,
 'ASTURIAS': nan,
 'ALBACETE': nan,
 'OROZKO': nan,
 'VILAFRANCA DEL PENEDES': nan,
 'SARRIA DE TER': nan,
 'CAN PASTILLA': nan,
 'IRUN': nan,
 'SUBIRATS': nan,
 'CALDES DE MONTBUI': nan,
 'VILLANUEVA DEL RIO Y MINAS': nan,
 'SAN FERNANDO DE HENARES': nan,
 'PALAU-SOLITA I PLEGAMANS': nan,
 'VILLANUEVA DE GALLEGO': nan,
 'CAMARENA DE LA SIERRA': nan,
 'AGUILAR DE CAMPOO': nan,
 'LOIU': nan,
 'CIUTADELLA DE MENORCA': nan,
 'RAFAL': nan,
 'MONTCADA I REIXAC': nan,
 'ARONA': nan,
 'ZALLA': nan,
 'CARRACEDELO': nan,
 'RIBADESELLA': nan,
 'MADRIGUERAS': nan,
 'PALOS DE LA FRONTERA': nan,
 'BERGA': nan,
 'CUARTE DE HUERVA': nan,
 'TORRELAMEU': nan,
 'PERATALLADA': nan,
 'QUINTO': nan,
 'EL CAMPILLO': nan,
 'GALLUR': nan,
 'TERRASSA': nan,
 'O BARCO': nan,
 'MORALZARZAL': nan,
 'LAGUNA DE DUERO': nan,
 'PELABRAVO': nan,
 'CARTAYA': nan,
 'LAS PALMAS DE GRAN CANARIA': nan,
 'GUADALAJARA': nan,
 'BECERRIL DE LA SIERRA': nan,
 'OCANA': nan,
 'ALQUERIAS DEL NINO PERDIDO': nan,
 'SEVILLA': nan,
 'PATERNA': nan,
 'VILA-SANA MOLLERUSSA': nan,
 'BETANZOS': nan,
 'EL ESPINAR': nan,
 'CORNELLA DE LLOBREGAT': nan,
 'OCANA - TOLEDO': nan,
 'MILAGROS': nan,
 'VILA-REAL': nan,
 'NULES': nan,
 'SAN MIGUEL DEL CAMINO': nan,
 'O CARBALLINO': nan,
 'CORUNA': nan,
 'O GROVE': nan,
 'AGUAUDLCE': nan,
 'MONTIJO': nan,
 'MONTORNES DEL VALLES': nan,
 'TRES CANTOS': nan,
 'FENE': nan,
 'VILLAMARTIN': nan,
 'PAIPORTA': nan,
 'MIJAS': nan,
 'MANCHA REAL': nan,
 'AZUQUECA DE HENARES': nan,
 'SAN TIRSO DE ABRES': nan,
 'ALDAYA - VALENCIA': nan,
 'NORENA': nan,
 'SAN MARTIN DE LA VEGA': nan,
 'HERENCIA': nan,
 'SALVATERRA DE MINO': nan,
 'BUSOT': nan,
 "L'AMETLLA DE MAR": nan,
 'COIN': nan,
 'GUIJON- ASTURIAS': nan,
 'ARGAMASILLA DE CALATRAVA': nan,
 'MIAJADAS': nan,
 'TARRAGONA': nan,
 'TERESA': nan,
 'OVIEDO': nan,
 'LES FRANQUESES DEL VALLÈS': nan,
 'MONTMELO': nan,
 'QUART DE POBLET': nan,
 'SAN ADRIAN LA LOSILLA': nan,
 'VEDRA': nan,
 'MALPARTIDA DE CACERES': nan,
 'LUCENA': nan,
 'AIGUAVIVA': nan,
 'FONDARELLA,': nan,
 'SANFULGENCIO': nan,
 'CAMPOHERMOSO': nan,
 'SERON': nan,
 'CIUDAD REAL': nan,
 'CARBALLO': nan,
 'RIUDELLOTS DE LA SELVA': nan,
 'ORENSE': nan,
 'SILLA': nan}

In [155]:
municipios_provincias2 = {
    'LLUCMAJOR': 'Illes Balears',
    'LAGOA, A': 'Pontevedra',
    'MARTORELL': 'Barcelona',
    'LLEIDA': 'Lleida',
    'ASTURIAS': 'Asturias',
    'ALBACETE': 'Albacete',
    'OROZKO': 'Bizkaia',
    'VILAFRANCA DEL PENEDES': 'Barcelona',
    'SARRIA DE TER': 'Girona',
    'CAN PASTILLA': 'Illes Balears',
    'IRUN': 'Gipuzkoa',
    'SUBIRATS': 'Barcelona',
    'CALDES DE MONTBUI': 'Barcelona',
    'VILLANUEVA DEL RIO Y MINAS': 'Sevilla',
    'SAN FERNANDO DE HENARES': 'Madrid',
    'PALAU-SOLITA I PLEGAMANS': 'Barcelona',
    'VILLANUEVA DE GALLEGO': 'Zaragoza',
    'CAMARENA DE LA SIERRA': 'Guadalajara',
    'AGUILAR DE CAMPOO': 'Palencia',
    'LOIU': 'Bizkaia',
    'CIUTADELLA DE MENORCA': 'Illes Balears',
    'RAFAL': 'Alicante',
    'MONTCADA I REIXAC': 'Barcelona',
    'ARONA': 'Santa Cruz de Tenerife',
    'ZALLA': 'Bizkaia',
    'CARRACEDELO': 'León',
    'RIBADESELLA': 'Asturias',
    'MADRIGUERAS': 'Albacete',
    'PALOS DE LA FRONTERA': 'Huelva',
    'BERGA': 'Barcelona',
    'CUARTE DE HUERVA': 'Zaragoza',
    'TORRELAMEU': 'Lleida',
    'PERATALLADA': 'Girona',
    'QUINTO': 'Zaragoza',
    'EL CAMPILLO': 'Huelva',
    'GALLUR': 'Zaragoza',
    'TERRASSA': 'Barcelona',
    'O BARCO': 'Ourense',
    'MORALZARZAL': 'Madrid',
    'LAGUNA DE DUERO': 'Valladolid',
    'PELABRAVO': 'Salamanca',
    'CARTAYA': 'Huelva',
    'LAS PALMAS DE GRAN CANARIA': 'Las Palmas',
    'GUADALAJARA': 'Guadalajara',
    'BECERRIL DE LA SIERRA': 'Madrid',
    'OCANA': 'Toledo',
    'ALQUERIAS DEL NINO PERDIDO': 'Castellón',
    'SEVILLA': 'Sevilla',
    'PATERNA': 'Valencia',
    'VILA-SANA MOLLERUSSA': 'Lleida',
    'BETANZOS': 'A Coruña',
    'EL ESPINAR': 'Segovia',
    'CORNELLA DE LLOBREGAT': 'Barcelona',
    'OCANA - TOLEDO': 'Toledo',
    'MILAGROS': 'Burgos',
    'VILA-REAL': 'Castellón',
    'NULES': 'Castellón',
    'SAN MIGUEL DEL CAMINO': 'Asturias',
    'O CARBALLINO': 'Ourense',
    'CORUNA': 'A Coruña',
    'O GROVE': 'Pontevedra',
    'AGUAUDLCE': 'Almería',
    'MONTIJO': 'Badajoz',
    'MONTORNES DEL VALLES': 'Barcelona',
    'TRES CANTOS': 'Madrid',
    'FENE': 'A Coruña',
    'VILLAMARTIN': 'Cádiz',
    'PAIPORTA': 'Valencia',
    'MIJAS': 'Málaga',
    'MANCHA REAL': 'Jaén',
    'AZUQUECA DE HENARES': 'Guadalajara',
    'SAN TIRSO DE ABRES': 'Asturias',
    'ALDAYA - VALENCIA': 'Valencia',
    'NORENA': 'Asturias',
    'SAN MARTIN DE LA VEGA': 'Madrid',
    'HERENCIA': 'Ciudad Real',
    'SALVATERRA DE MINO': 'Pontevedra',
    'BUSOT': 'Alicante',
    "L'AMETLLA DE MAR": 'Tarragona',
    'COIN': 'Málaga',
    'GUIJON- ASTURIAS': 'Asturias',
    'ARGAMASILLA DE CALATRAVA': 'Ciudad Real',
    'MIAJADAS': 'Cáceres',
    'TARRAGONA': 'Tarragona',
    'TERESA': 'Valencia',
    'OVIEDO': 'Asturias',
    'LES FRANQUESES DEL VALLÈS': 'Barcelona',
    'MONTMELO': 'Barcelona',
    'QUART DE POBLET': 'Valencia',
    'SAN ADRIAN LA LOSILLA': 'Navarra',
    'VEDRA': 'A Coruña',
    'MALPARTIDA DE CACERES': 'Cáceres',
    'LUCENA': 'Córdoba',
    'AIGUAVIVA': 'Girona',
    'FONDARELLA,': 'Tarragona',
    'SANFULGENCIO': 'Alicante',
    'CAMPOHERMOSO': 'Almería',
    'SERON': 'Almería',
    'CIUDAD REAL': 'Ciudad Real',
    'CARBALLO': 'A Coruña',
    'RIUDELLOTS DE LA SELVA': 'Girona',
    'ORENSE': 'Ourense',
    'SILLA': 'Valencia'
}

df_conces['provincia'] = df_conces.apply(lambda row: municipios_provincias2.get(row['municipio'], row['provincia']), axis=1)

In [156]:
df_conces[df_conces['provincia'].isna()].set_index('municipio')['provincia'].to_dict()

{'B-98395247': None, nan: nan, '-': None, '28021': None}

In [157]:
df_conces['provincia'].sort_values().unique()

array(['A Coruña', 'ALAVA', 'ALBACETE', 'ALICANTE', 'ALMERIA', 'ASTURIAS',
       'AVILA', 'Albacete', 'Alicante', 'Almería', 'Asturias', 'BADAJOZ',
       'BARCELONA', 'BURGOS', 'Badajoz', 'Barcelona', 'Bizkaia', 'Burgos',
       'CACERES', 'CADIZ', 'CANTABRIA', 'CASTELLON', 'CEUTA',
       'CIUDAD REAL', 'CORDOBA', 'CUENCA', 'Castellón', 'Ciudad Real',
       'Cáceres', 'Cádiz', 'Córdoba', 'GIRONA', 'GRANADA', 'GUADALAJARA',
       'GUIPUZCOA', 'Gipuzkoa', 'Girona', 'Granada', 'Guadalajara',
       'HUELVA', 'HUESCA', 'Huelva', 'Huesca', 'ISLAS BALEARES',
       'Illes Balears', 'JAEN', 'Jaén', 'LA CORUNA', 'LA RIOJA',
       'LAS PALMAS', 'LEON', 'LLEIDA', 'LUGO', 'Las Palmas', 'León',
       'Lleida', 'Lugo', 'MADRID', 'MALAGA', 'MELILLA', 'MURCIA',
       'Madrid', 'Murcia', 'Málaga', 'NAVARRA', 'Navarra', 'ORENSE',
       'Ourense', 'PALENCIA', 'PONTEVEDRA', 'Palencia', 'Pontevedra',
       'SALAMANCA', 'SEGOVIA', 'SEVILLA', 'SORIA', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'TARRAGONA', 'TENERIFE', 'TERUEL', 'TOLEDO', 'Tarragona', 'Teruel',
       'Toledo', 'VALENCIA', 'VALLADOLID', 'VIZCAYA', 'Valencia',
       'Valladolid', 'ZAMORA', 'ZARAGOZA', 'Zamora', 'Zaragoza', 'Álava',
       'Ávila', None, nan], dtype=object)

In [158]:
unificar_provincias = {
    'A CORUNA': 'A Coruña',
    'ALAVA': 'Álava',
    'ALBACETE': 'Albacete',
    'ALICANTE': 'Alicante',
    'ALMERIA': 'Almería',
    'ASTURIAS': 'Asturias',
    'AVILA': 'Ávila',
    'BADAJOZ': 'Badajoz',
    'BARCELONA': 'Barcelona',
    'BIZKAIA': 'Vizcaya',
    'BURGOS': 'Burgos',
    'CACERES': 'Cáceres',
    'CADIZ': 'Cádiz',
    'CANTABRIA': 'Cantabria',
    'CASTELLON': 'Castellón',
    'CEUTA': 'Ceuta',
    'CIUDAD REAL': 'Ciudad Real',
    'CORDOBA': 'Córdoba',
    'CUENCA': 'Cuenca',
    'GIPUZKOA': 'Guipúzcoa',
    'GIRONA': 'Gerona',
    'GRANADA': 'Granada',
    'GUADALAJARA': 'Guadalajara',
    'GUIPUZCOA': 'Guipúzcoa',
    'HUELVA': 'Huelva',
    'HUESCA': 'Huesca',
    'ILLES BALEARS': 'Islas Baleares',
    'ISLAS BALEARES': 'Islas Baleares',
    'JAEN': 'Jaén',
    'LA CORUNA': 'A Coruña',
    'LA RIOJA': 'La Rioja',
    'LAS PALMAS': 'Las Palmas',
    'LEON': 'León',
    'LLEIDA': 'Lérida',
    'LUGO': 'Lugo',
    'MADRID': 'Madrid',
    'MALAGA': 'Málaga',
    'MELILLA': 'Melilla',
    'MURCIA': 'Murcia',
    'NAVARRA': 'Navarra',
    'ORENSE': 'Ourense',
    'OURENSE': 'Ourense',
    'PALENCIA': 'Palencia',
    'PONTEVEDRA': 'Pontevedra',
    'SALAMANCA': 'Salamanca',
    'SANTA CRUZ DE TENERIFE': 'Santa Cruz de Tenerife',
    'SEGOVIA': 'Segovia',
    'SEVILLA': 'Sevilla',
    'SORIA': 'Soria',
    'TARRAGONA': 'Tarragona',
    'TENERIFE': 'Santa Cruz de Tenerife',
    'TERUEL': 'Teruel',
    'TOLEDO': 'Toledo',
    'VALENCIA': 'Valencia',
    'VALLADOLID': 'Valladolid',
    'VIZCAYA': 'Vizcaya',
    'ZAMORA': 'Zamora',
    'ZARAGOZA': 'Zaragoza'
}

df_conces['provincia'] = df_conces['provincia'].replace(unificar_provincias)

In [159]:
df_conces['provincia'].sort_values().unique()

array(['A Coruña', 'Albacete', 'Alicante', 'Almería', 'Asturias',
       'Badajoz', 'Barcelona', 'Bizkaia', 'Burgos', 'Cantabria',
       'Castellón', 'Ceuta', 'Ciudad Real', 'Cuenca', 'Cáceres', 'Cádiz',
       'Córdoba', 'Gerona', 'Gipuzkoa', 'Girona', 'Granada',
       'Guadalajara', 'Guipúzcoa', 'Huelva', 'Huesca', 'Illes Balears',
       'Islas Baleares', 'Jaén', 'La Rioja', 'Las Palmas', 'León',
       'Lleida', 'Lugo', 'Lérida', 'Madrid', 'Melilla', 'Murcia',
       'Málaga', 'Navarra', 'Ourense', 'Palencia', 'Pontevedra',
       'Salamanca', 'Santa Cruz de Tenerife', 'Segovia', 'Sevilla',
       'Soria', 'Tarragona', 'Teruel', 'Toledo', 'Valencia', 'Valladolid',
       'Vizcaya', 'Zamora', 'Zaragoza', 'Álava', 'Ávila', None, nan],
      dtype=object)

In [160]:
df_conces[df_conces['municipio'].isna()]

                            nombre calle municipio  provincia codigo_postal
41    ACTIVACIONS CARRETILLAS, S.L   NaN       NaN  Barcelona           NaN
57                     AFRON, S.A.   NaN       NaN     Madrid           NaN
60              AGNANO INVERSIONES   NaN       NaN  Tarragona           NaN
62         AGRÃCOLA CUELLAR, S.A.   NaN       NaN    Segovia           NaN
63          AGRÃCOLA GARVIN, S.L.   NaN       NaN     Toledo           NaN
...                            ...   ...       ...        ...           ...
3976                       VEHINSA   NaN       NaN   Asturias           NaN
3989                 VEYMASEM S.L.   NaN       NaN     Murcia           NaN
4014          VIDAL Y BASOLS, S.A.   NaN       NaN     Huesca           NaN
4094                   Zazos Motor   NaN       NaN      Ávila           NaN
4096    ZENTRO MACHINE- CASE, S.A.   NaN       NaN     Madrid           NaN

[203 rows x 5 columns]

In [161]:
df_conces[df_conces['municipio'].isna()].set_index('provincia')['municipio'].to_dict()

{'Barcelona': nan,
 'Madrid': nan,
 'Tarragona': nan,
 'Segovia': nan,
 'Toledo': nan,
 'Sevilla': nan,
 'Zaragoza': nan,
 'Murcia': nan,
 'Lérida': nan,
 'Cádiz': nan,
 'Castellón': nan,
 'Pontevedra': nan,
 'Albacete': nan,
 'Valencia': nan,
 'Lugo': nan,
 'Málaga': nan,
 'Salamanca': nan,
 'Valladolid': nan,
 'Cantabria': nan,
 'León': nan,
 'La Rioja': nan,
 'A Coruña': nan,
 'Burgos': nan,
 'Palencia': nan,
 'Alicante': nan,
 nan: nan,
 'Almería': nan,
 'Guipúzcoa': nan,
 'Huesca': nan,
 'Soria': nan,
 'Granada': nan,
 'Gerona': nan,
 'Santa Cruz de Tenerife': nan,
 'Las Palmas': nan,
 'Asturias': nan,
 'Guadalajara': nan,
 'Islas Baleares': nan,
 'Jaén': nan,
 'Navarra': nan,
 'Vizcaya': nan,
 'Córdoba': nan,
 'Ciudad Real': nan,
 'Cuenca': nan,
 'Badajoz': nan,
 'Álava': nan,
 'Ávila': nan}

In [162]:
capitales = {
    'Barcelona': 'Barcelona',
    'Madrid': 'Madrid',
    'Tarragona': 'Tarragona',
    'Segovia': 'Segovia',
    'Toledo': 'Toledo',
    'Sevilla': 'Sevilla',
    'Zaragoza': 'Zaragoza',
    'Murcia': 'Murcia',
    'Lérida': 'Lleida',
    'Cádiz': 'Cádiz',
    'Castellón': 'Castellón',
    'Pontevedra': 'Pontevedra',
    'Albacete': 'Albacete',
    'Valencia': 'Valencia',
    'Lugo': 'Lugo',
    'Málaga': 'Málaga',
    'Salamanca': 'Salamanca',
    'Valladolid': 'Valladolid',
    'Cantabria': 'Santander',
    'León': 'León',
    'La Rioja': 'Logroño',
    'A Coruña': 'A Coruña',
    'Burgos': 'Burgos',
    'Palencia': 'Palencia',
    'Alicante': 'Alicante',
    'Almería': 'Almería',
    'Guipúzcoa': 'San Sebastián',
    'Huesca': 'Huesca',
    'Soria': 'Soria',
    'Granada': 'Granada',
    'Gerona': 'Gerona',
    'Santa Cruz de Tenerife': 'Santa Cruz de Tenerife',
    'Las Palmas': 'Las Palmas de Gran Canaria',
    'Asturias': 'Oviedo',
    'Guadalajara': 'Guadalajara',
    'Islas Baleares': 'Palma',
    'Jaén': 'Jaén',
    'Navarra': 'Pamplona',
    'Vizcaya': 'Bilbao',
    'Córdoba': 'Córdoba',
    'Ciudad Real': 'Ciudad Real',
    'Cuenca': 'Cuenca',
    'Badajoz': 'Badajoz',
    'Álava': 'Vitoria-Gasteiz',
    'Ávila': 'Ávila'
}

df_conces['municipio'] = df_conces.apply(lambda row: capitales.get(row['provincia'], row['municipio']) if pd.isna(row['municipio']) else row['municipio'],
    axis=1
)

In [163]:
df_conces[df_conces['municipio'].isna()]

                      nombre calle municipio provincia codigo_postal
1470  EIBAR MAQUINARIA, S.L.   NaN       NaN       NaN           NaN
1620         FINANZAUTO S.A.   NaN       NaN       NaN           NaN
3582        Soletanche-Bachy   NaN       NaN       NaN           NaN

In [164]:
df_conces['municipio'] = df_conces['municipio'].str.capitalize()
df_conces

,nombre,calle,municipio,provincia,codigo_postal
0,--AUTOMOVILES VIA NORTE --,C/ Rosalia De Castro 7 - 9,Naron,A Coruña,15570
1,*ACS MOTOR*,"Carretera Villanueva De La Jara, 25",Iniesta,Cuenca,16235
2,+ QUE COCHES,Avda Pio Xii 85,Talavera de la reina,Toledo,45600
3,11ELEVEN,Concertar Cita Previa,Madrid,Madrid,28294
4,13 Premium Cars,"Cars Carrer Benito Pérez Galdós, 27,",Aldaia,Valencia,46960
...,...,...,...,...,...
4095,ZENCARS,Atendemos Con Cita Previa.,Madrid,Madrid,28049
4096,"ZENTRO MACHINE- CASE, S.A.",NaN,Madrid,Madrid,NaN
4097,ZOANSA TAILERRAK,"Pol. Ind. Alkaiaga, C. Banarta, 2,","Lesaka, navarra",Navarra,31770
4098,ZOE AUTOMOCION,Calle Greco S/N,Sonseca,Toledo,45100
4099,Zylautos Motor,"V Real De Madrid 129,",Valencia,Valencia,46017

In [165]:
print(len(df_conces[df_conces.duplicated(subset = ['nombre'], keep= False)]) )
df_conces[df_conces.duplicated(subset = ['nombre'], keep= False)]

28

,nombre,calle,municipio,provincia,codigo_postal
1235,COMERCIAL BI-BAT RIOJA S.A.U.,NaN,Logroño,La Rioja,NaN
1236,COMERCIAL BI-BAT RIOJA S.A.U.,"Avda. Río Cidacos, Parcela 190, Pol. Ind. El S...",Agoncillo,La Rioja,26150
1623,Fitor Forestal SL,Cami De Fitor S/N,Fonteta,Girona,17110
1624,Fitor Forestal SL,Camí De Fitor S/N,Fonteta,Girona,17110
1834,FR CARS,28054 Madrid Capital Madrid,Madrid,Madrid,28054
1835,FR CARS,Calle D'alfons El Magnànim 33,Palma,Islas Baleares,7004
1889,"GARAJE J-J, concesionario oficial Suzuki",Ventas,Madrid,Madrid,28015
1890,"GARAJE J-J, concesionario oficial Suzuki","Rguez. San Pedro, 13 Duplicado",Madrid,Madrid,28015
1955,GLOBAL CARS,"Carretera Alcaracejos, Esq. Rafael Alberti, 3",Pozoblanco,Córdoba,14400
1956,GLOBAL CARS,Carretera De La Canaleja S/N . Junto A Recinto...,Pozoblanco,Córdoba,14400
2300,"JARMAUTO, concesionario oficial Audi","Av. De La Tecnica, 21 - P.i. Sta. A 28529 Riva...",Rivas vaciamadrid,Madrid,28529
2301,"JARMAUTO, concesionario oficial Audi","Av. De La Tecnica, 21 - P.i. Sta. A",Rivas vaciamadrid,Madrid,28529
2772,MOHAMED EL HAJIMI,Calle Alfonso Vi 1A,Segovia,Segovia,40004
2773,MOHAMED EL HAJIMI,Calle Alfonso Vi 16 1A,Segovia,Segovia,40004
2778,MOLTURADOS Y DERIVADOS SECSET S.L,NaN,Lleida,Lérida,NaN
2779,MOLTURADOS Y DERIVADOS SECSET S.L,"Crta Nacional 340 Km 1229,50",Subirats,Barcelona,08739
2910,NIMOCASION.ES,Anuncio Publicado En Málaga Ubicado En Sevilla,Malaga,Málaga,29004
2911,NIMOCASION.ES,Anuncio Publicado En Córdoba Ubicado En Sevilla,Cordoba,Córdoba,14013
2912,NIMOCASION.ES,Anuncio Publicado En Jaén Ubicado En Sevilla.,Jaen,Jaén,23009
2913,NIMOCASION.ES,Anuncio Publicado En Almería Ubicado En Sevilla,Huercal de almeria,Almería,04230
2914,NIMOCASION.ES LUXURY,Anuncio Publicado En Granada Ubicado En Sevilla,Grnada,Granada,18014
2915,NIMOCASION.ES LUXURY,Anuncio Publicado En Córdoba Ubicado En Sevilla,Cordoba,Córdoba,14013
2916,NIMOCASION.ES LUXURY,Anuncio Publicado En Jaén Ubicado En Sevilla,Jaen,Jaén,23009
2917,NIMOCASION.ES LUXURY,Anuncio Publicado En Almería Ubicado En Sevilla,Huercal de almeria,Almería,04230
3807,TM CARS,Torrent,Torrent,Valencia,46900
3808,TM CARS,Ctra. De Montcada 41 Local,Terrassa,Barcelona,08221
4082,YOKAMOTRIL,"Ctra. Almeria, 49",Motril,Granada,18600
4083,YOKAMOTRIL,Avenida Rey Juan Carlos I Nº 49,Velez malaga,Málaga,29700

In [166]:
duplicados = df_conces[df_conces.duplicated(subset='nombre', keep=False)]

duplicados['nombre'] = duplicados.apply(lambda x: f"{x['nombre']} - {x['municipio']}", axis=1)

df_conces.update(duplicados)

C:\Users\Santiago Courel\AppData\Local\Temp\ipykernel_17260\2409735693.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicados['nombre'] = duplicados.apply(lambda x: f"{x['nombre']} - {x['municipio']}", axis=1)

In [167]:
print(len(df_conces[df_conces.duplicated(subset = ['nombre'], keep= False)]) )
df_conces[df_conces.duplicated(subset = ['nombre'], keep= False)]

10

,nombre,calle,municipio,provincia,codigo_postal
1623,Fitor Forestal SL - Fonteta,Cami De Fitor S/N,Fonteta,Girona,17110
1624,Fitor Forestal SL - Fonteta,Camí De Fitor S/N,Fonteta,Girona,17110
1889,"GARAJE J-J, concesionario oficial Suzuki - Madrid",Ventas,Madrid,Madrid,28015
1890,"GARAJE J-J, concesionario oficial Suzuki - Madrid","Rguez. San Pedro, 13 Duplicado",Madrid,Madrid,28015
1955,GLOBAL CARS - Pozoblanco,"Carretera Alcaracejos, Esq. Rafael Alberti, 3",Pozoblanco,Córdoba,14400
1956,GLOBAL CARS - Pozoblanco,Carretera De La Canaleja S/N . Junto A Recinto...,Pozoblanco,Córdoba,14400
2300,"JARMAUTO, concesionario oficial Audi - Rivas v...","Av. De La Tecnica, 21 - P.i. Sta. A 28529 Riva...",Rivas vaciamadrid,Madrid,28529
2301,"JARMAUTO, concesionario oficial Audi - Rivas v...","Av. De La Tecnica, 21 - P.i. Sta. A",Rivas vaciamadrid,Madrid,28529
2772,MOHAMED EL HAJIMI - Segovia,Calle Alfonso Vi 1A,Segovia,Segovia,40004
2773,MOHAMED EL HAJIMI - Segovia,Calle Alfonso Vi 16 1A,Segovia,Segovia,40004