In [3]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from datetime import datetime
import numpy as np

class MySQLDataLoader:
    def __init__(self, user, password, database, host="localhost"):
        self.connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
    
    def get_max_fecha_extraccion(self):
        cursor = self.connection.cursor(buffered=True)
        cursor.execute("SELECT MAX(fecha_extraccion) FROM coches_en_venta;")
        result = cursor.fetchone()
        cursor.close()
        return result[0] if result[0] else None
    
    def get_concesionario_count(self):
        cursor = self.connection.cursor(buffered=True)
        cursor.execute("SELECT COUNT(*) FROM concesionario;")
        result = cursor.fetchone()
        cursor.close()
        return result[0]
    
    def insert_ignore(self, table, column, value):
        print(f"tabla {table}, columna {column}, valor {value}")
        cursor = self.connection.cursor(buffered=True)
        query = f"INSERT IGNORE INTO {table} ({column}) VALUES (%s);"
        cursor.execute(query, (value,))
        self.connection.commit()
        
        # Determinar el nombre del ID según la tabla
        campo_id = "modelo" if table == "modelo_titulo" else table
        
        cursor.execute(f"SELECT {campo_id}_id FROM {table} WHERE {column} = %s;", (value,))
        result = cursor.fetchone()
        cursor.close()
        
        return result[0] if result else None

    
    def insert_modelo_titulo(self, marca_id, nombre_modelo):
        cursor = self.connection.cursor(buffered=True)
        query = """
        INSERT IGNORE INTO modelo_titulo (marca_id, nombre_modelo) VALUES (%s, %s)
        """
        cursor.execute(query, (marca_id, nombre_modelo))
        self.connection.commit()
        cursor.execute("SELECT modelo_id FROM modelo_titulo WHERE nombre_modelo = %s AND marca_id = %s;", (nombre_modelo, marca_id))
        result = cursor.fetchone()
        cursor.close()
        return result[0]
    
    def insert_url(self, url):
        cursor = self.connection.cursor(buffered=True)
        query = """
        INSERT INTO urls (url)
        VALUES (%s)
        ON DUPLICATE KEY UPDATE url = VALUES(url);"""
        cursor.execute(query, (url,))
        cursor.execute("SELECT url_id FROM urls WHERE url = %s;", (url,))
        result = cursor.fetchone()
        self.connection.commit()
        cursor.close()
        return result[0]
    
    def insert_ruta_imagen(self, ruta_imagen):
        cursor = self.connection.cursor(buffered=True)
        query = """
        INSERT INTO ruta_imagen (ruta_imagen)
        VALUES (%s)
        ON DUPLICATE KEY UPDATE ruta_imagen = VALUES(ruta_imagen);"""
        cursor.execute(query, (ruta_imagen,))
        cursor.execute("SELECT ruta_imagen_id FROM ruta_imagen WHERE ruta_imagen = %s;", (ruta_imagen,))
        result = cursor.fetchone()
        self.connection.commit()
        cursor.close()
        return result[0]
    
    def get_concesionario_id(self, nombre_concesionario):
        cursor = self.connection.cursor(buffered=True)
        cursor.execute("SELECT concesionario_id FROM concesionario WHERE nombre_concesionario = %s;", (nombre_concesionario,))
        result = cursor.fetchone()
        cursor.close()
        return result[0] if result else None
        
    def process_csv_concesionarios(self, file_path):
        df = pd.read_csv(file_path)

        if len(df) > self.get_concesionario_count():
            for _, row in df.iterrows():
                provincia_id = None
                municipio_id = None
                print(row["nombre"])
                print(row["provincia"])
                print(row["municipio"])
                if pd.notna(row["provincia"]) and row["provincia"] != "":
                    provincia_id = self.insert_ignore("provincia", "nombre_provincia", row["provincia"])
                if pd.notna(row["municipio"]) and row["municipio"] != "":
                    municipio_id = self.insert_ignore("municipio", "nombre_municipio", row["municipio"])

                query = """
                INSERT INTO concesionario (nombre_concesionario, calle, provincia_id, codigo_postal, municipio_id)
                VALUES (%s, %s, %s, %s, %s)
                ON DUPLICATE KEY UPDATE nombre_concesionario = VALUES(nombre_concesionario);"""
                cursor = self.connection.cursor(buffered=True)
                cursor.execute(query, (
                    row["nombre"],
                    row["calle"] if pd.notna(row["calle"]) else None,
                    provincia_id,
                    int(row["codigo_postal"]) if pd.notna(row["codigo_postal"]) else None,
                    municipio_id
                ))
                self.connection.commit()
                cursor.close()
                #break

    def process_csv_coches(self, file_path):
        df = pd.read_csv(file_path, parse_dates=["fecha_extraccion"], dtype={
            "puertas": "Int64", "mes_matricula": "Int64", "anio_matricula": "Int64"
        })
        max_fecha = self.get_max_fecha_extraccion()
        df = df[df["fecha_extraccion"] >= max_fecha] if max_fecha else df

        anio_actual = datetime.now().year
        mes_actual = datetime.now().month

        print("Antes del for")
        
        for _, row in df.iterrows():
            print(row["combustible"])
            combustible_id = self.insert_ignore("combustible", "nombre_combustible", row["combustible"])
            print("antes de marca_Id")
            marca_id = self.insert_ignore("marca", "nombre_marca", row["marca_sola"])
            print(marca_id)
            print(row["modelo_titulo"])
            modelo_id = self.insert_modelo_titulo(marca_id, row["modelo_titulo"])
            print("color")
            color_id = self.insert_ignore("color", "nombre_color", row["color"])
            print("carroceria")
            carroceria_id = self.insert_ignore("carroceria", "nombre_carroceria", row["carroceria"])
            print("distintivo")
            distintivo_ambiental_id = self.insert_ignore("distintivo_ambiental", "nombre_distintivo", row["distintivo_ambiental"])
            print("url")
            url_id = self.insert_url(row["url"])
            print(row["ruta_imagen"])
            if row["ruta_imagen"] != "" and pd.notna(row["ruta_imagen"]):
                ruta_imagen_id = self.insert_ruta_imagen(row["ruta_imagen"])
            else:
                ruta_imagen_id = None
            
            print("concesionario")
            concesionario_id = None
            if row["vendedor_profesional"]:
                print("dentro del if")
                concesionario_id = self.get_concesionario_id(row["nombre_vendedor_profesional"])
            
            print ("Antes del data")

            data = {
                "referencia": row["referencia"],
                "peninsula_baleares": int(row["peninsula_y_baleares"]) if pd.notna(row["peninsula_y_baleares"]) else None,
                "combustible_id": combustible_id,
                "potencia": row["potencia"] if pd.notna(row["potencia"]) else None,
                "cambio_automatico": int(row["cambio_automatico"]) if pd.notna(row["cambio_automatico"]) else None,
                "carroceria_id": carroceria_id,
                "kilometraje": row["kilometraje"] if pd.notna(row["kilometraje"]) else None,
                "distintivo_ambiental_id": distintivo_ambiental_id,
                "color_id": color_id,
                "garantia": row["garantia"] if pd.notna(row["garantia"]) else None,
                "vendedor_profesional": int(row["vendedor_profesional"]) if pd.notna(row["vendedor_profesional"]) else None,
                "plazas": row["plazas"] if pd.notna(row["plazas"]) else None,
                "puertas": row["puertas"] if pd.notna(row["puertas"]) else None,
                "certificado": int(row["certificado"]) if pd.notna(row["certificado"]) else None,
                "fecha_extraccion": row["fecha_extraccion"].strftime('%Y-%m-%d %H:%M:%S'),
                "consumo": row["consumo_medio"] if pd.notna(row["consumo_medio"]) else None,
                "modelo_id": modelo_id,
                "antiguedad": anio_actual - row["anio_matricula"] if pd.notna(row["anio_matricula"]) else None,
                "precio": row["precio"] if pd.notna(row["precio"]) else None,
                "mes_matricula": row["mes_matricula"] if pd.notna(row["mes_matricula"]) else None,
                "anio_matricula": row["anio_matricula"] if pd.notna(row["anio_matricula"]) else None,
                "concesionario_id": concesionario_id,
                "url_id": url_id,
                "ruta_imagen_id": ruta_imagen_id
            }

            #data = {k: v for k, v in data.items() if v is not None}
            
            print ("Antes del query")
            
            query = f"""
            INSERT IGNORE INTO coches_en_venta ({', '.join(data.keys())})
            VALUES ({', '.join(['%s' for _ in data.keys()])})
            """
            print(query)

            cursor = self.connection.cursor(buffered=True)
            cursor.execute(query, tuple(data.values()))
            self.connection.commit()
            cursor.close()


if __name__ == "__main__":
    loader = MySQLDataLoader("grupocds", "JoSanBross", "pfb_coches")
    loader.process_csv_concesionarios("/home/bross/Codigo_HAB/PFB_coches/PFB_coches/data/concesionarios_limpio.csv")
    loader.process_csv_coches("/home/bross/Codigo_HAB/PFB_coches/PFB_coches/data/coches_segunda_mano-19-02-2025_limpio.csv")

--AUTOMOVILES VIA NORTE --
La coruña
Naron
tabla provincia, columna nombre_provincia, valor La coruña
tabla municipio, columna nombre_municipio, valor Naron
*ACS MOTOR*
Cuenca
Iniesta
tabla provincia, columna nombre_provincia, valor Cuenca
tabla municipio, columna nombre_municipio, valor Iniesta
+ QUE COCHES
Toledo
Talavera de la reina
tabla provincia, columna nombre_provincia, valor Toledo
tabla municipio, columna nombre_municipio, valor Talavera de la reina
11ELEVEN
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
13 Premium Cars
Valencia
Aldaia
tabla provincia, columna nombre_provincia, valor Valencia
tabla municipio, columna nombre_municipio, valor Aldaia
14 GARAGE
Madrid
Villalbilla
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Villalbilla
2015 GESTIO MOTORS
Girona
Cornella de terri
tabla provincia, columna nombre_provincia, valor Girona
tabla municipio, columna nombre_municipio, valor Cornella de terri
24H Lemans
Valencia
Picassent
tabla provincia, columna nombre_provincia, valor Valencia
tabla municipio, columna nombre_municipio, valor Picassent
3 RL CARS
Segovia
Segovia
tabla provincia, columna nombre_provincia, valor Segovia
tabla municipio, columna nombre_municipio, valor Segovia
3D WORLD SPAIN
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
4X4 LA AZUCARERA
Málaga
Malaga
tabla provincia, columna nombre_provincia, valor Málaga
tabla municipio, columna nombre_municipio, valor Malaga
500 MILLAS AUTOMOVILES
Islas baleares
Palma de mallorca
tabla provincia, columna nombre_provincia, valor Islas baleares
tabla municipio, columna nombre_municipio, valor Palma de mallorca
515 Auto-Grs
Málaga
Marbella
tabla provincia, columna nombre_provincia, valor Málaga
tabla municipio, columna nombre_municipio, valor Marbella
66 Garage
Madrid
Moraleja de enmedio
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Moraleja de enmedio
77 CARS
Málaga
Nueva andalucia ,
tabla provincia, columna nombre_provincia, valor Málaga
tabla municipio, columna nombre_municipio, valor Nueva andalucia ,
7CARS MOTION
Málaga
Velez
tabla provincia, columna nombre_provincia, valor Málaga
tabla municipio, columna nombre_municipio, valor Velez
81 MOTOR
Valladolid
Valladolid
tabla provincia, columna nombre_provincia, valor Valladolid
tabla municipio, columna nombre_municipio, valor Valladolid
90 AND ONE TEN
Barcelona
Rajadell
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Rajadell
911 MADRID
Madrid
La moraleja
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor La moraleja
A G C
Vizcaya
Vizcaya
tabla provincia, columna nombre_provincia, valor Vizcaya
tabla municipio, columna nombre_municipio, valor Vizcaya
A. J. Investment Logistics Control S.L.
nan
Don benito
tabla municipio, columna nombre_municipio, valor Don benito
A.ROMAN SANCHEZ S.L
Ciudad real
Alcazar de san juan
tabla provincia, columna nombre_provincia, valor Ciudad real
tabla municipio, columna nombre_municipio, valor Alcazar de san juan
AB CARS LLEIDA
Lleida
Rosello
tabla provincia, columna nombre_provincia, valor Lleida
tabla municipio, columna nombre_municipio, valor Rosello
AB Development SL
nan
Malaga
tabla municipio, columna nombre_municipio, valor Malaga
Ab Marbella Cars
Málaga
Marbella
tabla provincia, columna nombre_provincia, valor Málaga
tabla municipio, columna nombre_municipio, valor Marbella
AB MOTOR
Alicante
El vergel
tabla provincia, columna nombre_provincia, valor Alicante
tabla municipio, columna nombre_municipio, valor El vergel
ABALO SPORT
Pontevedra
Catoira
tabla provincia, columna nombre_provincia, valor Pontevedra
tabla municipio, columna nombre_municipio, valor Catoira
ABASTAUTO
Barcelona
Sant fruitós de bages
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Sant fruitós de bages
ABATE AUTO Cars and Services
Islas baleares
Eivissa
tabla provincia, columna nombre_provincia, valor Islas baleares
tabla municipio, columna nombre_municipio, valor Eivissa
ABEL AUTOMOVILES
Asturias
Castrillon
tabla provincia, columna nombre_provincia, valor Asturias
tabla municipio, columna nombre_municipio, valor Castrillon
AC CAR
Madrid
Las rozas
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Las rozas
AC CAR (Barcelona)
Barcelona
Mollet del valles
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Mollet del valles
AC MACHINERY TRADING S.L.U.
nan
Almeria
tabla municipio, columna nombre_municipio, valor Almeria
AC MACHINERY TRADING SLU
nan
Nijar
tabla municipio, columna nombre_municipio, valor Nijar
AC PERFORMANCE
Pontevedra
Vilagarcia de arousa
tabla provincia, columna nombre_provincia, valor Pontevedra
tabla municipio, columna nombre_municipio, valor Vilagarcia de arousa
ACAUTO
Barcelona
Barcelona
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Barcelona
ACCIMOVIL
Granada
Guadix - granada
tabla provincia, columna nombre_provincia, valor Granada
tabla municipio, columna nombre_municipio, valor Guadix - granada
ACCIÓ VO
Girona
Vilamalla
tabla provincia, columna nombre_provincia, valor Girona
tabla municipio, columna nombre_municipio, valor Vilamalla
ACEROM ASESORES
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ACIERTOCARS
Madrid
Algete
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Algete
ACOSTA SERVICES CAR SL
nan
Playa del ingles
tabla municipio, columna nombre_municipio, valor Playa del ingles
ACTIVACIONS CARRETILLAS, S.L
Barcelona
nan
tabla provincia, columna nombre_provincia, valor Barcelona
AD CARMARKET
La rioja
Arnedo
tabla provincia, columna nombre_provincia, valor La rioja
tabla municipio, columna nombre_municipio, valor Arnedo
AD.I.M sl
nan
Almeria
tabla municipio, columna nombre_municipio, valor Almeria
ADAM CARS
Murcia
Nonduermas
tabla provincia, columna nombre_provincia, valor Murcia
tabla municipio, columna nombre_municipio, valor Nonduermas
ADAM FOSTER
Madrid
Rozas de madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Rozas de madrid
ADAPTA-MOVIL
Murcia
Molina de segura
tabla provincia, columna nombre_provincia, valor Murcia
tabla municipio, columna nombre_municipio, valor Molina de segura
Adarsa Salamanca Mercedes Benz y Mitsubishi
Salamanca
Salamanca
tabla provincia, columna nombre_provincia, valor Salamanca
tabla municipio, columna nombre_municipio, valor Salamanca
ADEINNOVA CONSULTORES SL
nan
Artesa del segre
tabla municipio, columna nombre_municipio, valor Artesa del segre
Adit Car
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ADOLFO FERRERO
nan
Vicolozano
tabla municipio, columna nombre_municipio, valor Vicolozano
ADVENTURE CENTER
Madrid
Móstoles
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Móstoles
ADVENTURE CENTER VN.
Madrid
Mostoles
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Mostoles
Aelia Motor
Barcelona
Ripollet
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Ripollet
AERO AUTOFACTORIA SPAIN
Girona
Salt
tabla provincia, columna nombre_provincia, valor Girona
tabla municipio, columna nombre_municipio, valor Salt
AF VANS
Zaragoza
Zaragoza
tabla provincia, columna nombre_provincia, valor Zaragoza
tabla municipio, columna nombre_municipio, valor Zaragoza
AF VANS
Zaragoza
Zaragoza
tabla provincia, columna nombre_provincia, valor Zaragoza
tabla municipio, columna nombre_municipio, valor Zaragoza
AFRON, S.A.
Madrid
nan
tabla provincia, columna nombre_provincia, valor Madrid
AG Buycars
Granada
Padul
tabla provincia, columna nombre_provincia, valor Granada
tabla municipio, columna nombre_municipio, valor Padul
AG CarDrive
Barcelona
Vilanova i la geltrú
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Vilanova i la geltrú
AGNANO INVERSIONES
Tarragona
nan
tabla provincia, columna nombre_provincia, valor Tarragona
AGRA MARTIN 2016
Madrid
Collado villalba
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Collado villalba
AGRÃCOLA CUELLAR, S.A.
Segovia
nan
tabla provincia, columna nombre_provincia, valor Segovia
AGRÃCOLA GARVIN, S.L.
Toledo
nan
tabla provincia, columna nombre_provincia, valor Toledo
Agricola Vilanova SL
nan
Oroso
tabla municipio, columna nombre_municipio, valor Oroso
AGRINSUR, S.A.
Sevilla
nan
tabla provincia, columna nombre_provincia, valor Sevilla
AGRISA
La rioja
Logroño
tabla provincia, columna nombre_provincia, valor La rioja
tabla municipio, columna nombre_municipio, valor Logroño
AGRITRASA AUTOAGRICOLA
Toledo
nan
tabla provincia, columna nombre_provincia, valor Toledo
AGRITRASA MOTOR
Ciudad real
Ciudad real
tabla provincia, columna nombre_provincia, valor Ciudad real
tabla municipio, columna nombre_municipio, valor Ciudad real
AGROCAR
nan
Ponferrada (leon)
tabla municipio, columna nombre_municipio, valor Ponferrada (leon)
AGROMECANICA CARIÑENA, S.L.
Zaragoza
nan
tabla provincia, columna nombre_provincia, valor Zaragoza
AGROMOTOR OCASION
Álava
Vitoria
tabla provincia, columna nombre_provincia, valor Álava
tabla municipio, columna nombre_municipio, valor Vitoria
AGROMOTOR Peugeot Vitoria
Álava
Vitoria
tabla provincia, columna nombre_provincia, valor Álava
tabla municipio, columna nombre_municipio, valor Vitoria
AGRONIMER, S.L.U.
Murcia
nan
tabla provincia, columna nombre_provincia, valor Murcia
Agropecuaria Molet
nan
Altorricón
tabla municipio, columna nombre_municipio, valor Altorricón
Aguas subterraneas
nan
Ondara
tabla municipio, columna nombre_municipio, valor Ondara
Aguassubterraneas
nan
Ondara
tabla municipio, columna nombre_municipio, valor Ondara
AGÜERAUTO MOTOR
Málaga
Coin
tabla provincia, columna nombre_provincia, valor Málaga
tabla municipio, columna nombre_municipio, valor Coin
AGUILERA AUTOCENTROS
Madrid
San sebastian de los reyes
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor San sebastian de los reyes
AINA MOTORS
Guadalajara
Pozo de guadalajara
tabla provincia, columna nombre_provincia, valor Guadalajara
tabla municipio, columna nombre_municipio, valor Pozo de guadalajara
AIR COOLED MOTOR
Madrid
San agustin del guadalix
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor San agustin del guadalix
AJ Automotive
Sevilla
Utrera
tabla provincia, columna nombre_provincia, valor Sevilla
tabla municipio, columna nombre_municipio, valor Utrera
AJ AUTOMÓVILES
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
AJ MOTORS
Barcelona
Cerdanyola del valles
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Cerdanyola del valles
Aj Racing Cars
Madrid
Valdemoro
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Valdemoro
AKAAUTO
Madrid
Mostoles
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Mostoles
ALAIN
Alicante
Torrevieja
tabla provincia, columna nombre_provincia, valor Alicante
tabla municipio, columna nombre_municipio, valor Torrevieja
ALBA OCASIÓN
Sevilla
Gelves
tabla provincia, columna nombre_provincia, valor Sevilla
tabla municipio, columna nombre_municipio, valor Gelves
ALBERTO POZUELO
Madrid
Pozuelo de alarcon
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Pozuelo de alarcon
ALBO EXPORT
Valladolid
Aldeamayor de san martín
tabla provincia, columna nombre_provincia, valor Valladolid
tabla municipio, columna nombre_municipio, valor Aldeamayor de san martín
ALBORAN MOTOR
Almería
Huercal
tabla provincia, columna nombre_provincia, valor Almería
tabla municipio, columna nombre_municipio, valor Huercal
ALCALA 534 CTRA VALENCIA VN
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ALCOMA INTERNACIONAL 1984 - GRANADA
nan
Granada
tabla municipio, columna nombre_municipio, valor Granada
ALCOMOCION
Alicante
Elche
tabla provincia, columna nombre_provincia, valor Alicante
tabla municipio, columna nombre_municipio, valor Elche
ALD ARGANDA DURSAN
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ALD BURGOS DURSAN
Burgos
Villagonzalo
tabla provincia, columna nombre_provincia, valor Burgos
tabla municipio, columna nombre_municipio, valor Villagonzalo
ALD DURSAN SALAMANCA
Salamanca
Salamanca
tabla provincia, columna nombre_provincia, valor Salamanca
tabla municipio, columna nombre_municipio, valor Salamanca
ALD LEON DURSAN
León
Leon
tabla provincia, columna nombre_provincia, valor León
tabla municipio, columna nombre_municipio, valor Leon
ALD VALLADOLID DURSAN
Valladolid
Zaratan
tabla provincia, columna nombre_provincia, valor Valladolid
tabla municipio, columna nombre_municipio, valor Zaratan
ALDEA QUERCUS,S.L
nan
Estepona
tabla municipio, columna nombre_municipio, valor Estepona
ALEA AUTOMOCION
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ALEMARCOCHES
Alicante
Ondara
tabla provincia, columna nombre_provincia, valor Alicante
tabla municipio, columna nombre_municipio, valor Ondara
ALENA`S CARS
Sevilla
Utrera
tabla provincia, columna nombre_provincia, valor Sevilla
tabla municipio, columna nombre_municipio, valor Utrera
ALENMOCAR
Madrid
Mejorada del campo
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Mejorada del campo
ALEX TAX
Valencia
Valencia
tabla provincia, columna nombre_provincia, valor Valencia
tabla municipio, columna nombre_municipio, valor Valencia
ALEZEN, S.L.
Salamanca
Narrillos de san leonardo
tabla provincia, columna nombre_provincia, valor Salamanca
tabla municipio, columna nombre_municipio, valor Narrillos de san leonardo
ALF MOTOR
Murcia
Cartagena
tabla provincia, columna nombre_provincia, valor Murcia
tabla municipio, columna nombre_municipio, valor Cartagena
ALFAGEME AUTOMOVILES S.L
Valladolid
Valladolid
tabla provincia, columna nombre_provincia, valor Valladolid
tabla municipio, columna nombre_municipio, valor Valladolid
Alfredo Rueda
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ALGAMAUTO
Madrid
Mejorada del campo
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Mejorada del campo
ALHAMBRA AUTOMOVILES, S.A.
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
Alixares Motor
Granada
Zubia
tabla provincia, columna nombre_provincia, valor Granada
tabla municipio, columna nombre_municipio, valor Zubia
Aljune
Murcia
Las torres de cotillas
tabla provincia, columna nombre_provincia, valor Murcia
tabla municipio, columna nombre_municipio, valor Las torres de cotillas
ALKIMAKI
nan
Fuente el saz del jarama
tabla municipio, columna nombre_municipio, valor Fuente el saz del jarama
ALKIZABAL SL
nan
Lemoa
tabla municipio, columna nombre_municipio, valor Lemoa
ALL ELECTRIK
Madrid
Meco
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Meco
ALLTRUCKSES
Lleida
nan
tabla provincia, columna nombre_provincia, valor Lleida
ALMACAR MOTOR
Albacete
Almansa
tabla provincia, columna nombre_provincia, valor Albacete
tabla municipio, columna nombre_municipio, valor Almansa
Almirante Motor
Granada
Baza
tabla provincia, columna nombre_provincia, valor Granada
tabla municipio, columna nombre_municipio, valor Baza
ALMOTOR 26
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ALO WAGEN
Castellón
Vila-real
tabla provincia, columna nombre_provincia, valor Castellón
tabla municipio, columna nombre_municipio, valor Vila-real
ALONSO AUTOMOCION
Lugo
Lugo
tabla provincia, columna nombre_provincia, valor Lugo
tabla municipio, columna nombre_municipio, valor Lugo
ALONSO HERMANOS AUTOMOVILES
Madrid
Madrid
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Madrid
ALONSO PINEDA
Toledo
Olías del rey
tabla provincia, columna nombre_provincia, valor Toledo
tabla municipio, columna nombre_municipio, valor Olías del rey
Alpik Automobile
Madrid
Arganda del rey
tabla provincia, columna nombre_provincia, valor Madrid
tabla municipio, columna nombre_municipio, valor Arganda del rey
ALPIMAC MAQUINARIA S.L.
nan
A coruña
tabla municipio, columna nombre_municipio, valor A coruña
ALQUICOCHE
Valencia
Valencia
tabla provincia, columna nombre_provincia, valor Valencia
tabla municipio, columna nombre_municipio, valor Valencia
ALQUIFRE
Cádiz
nan
tabla provincia, columna nombre_provincia, valor Cádiz
ALQUIGAL
nan
Arteixo
tabla municipio, columna nombre_municipio, valor Arteixo
ALQUIGEMASUR
nan
Utrera sevilla
tabla municipio, columna nombre_municipio, valor Utrera sevilla
ALQUILER DE MAQUINARIA RENTAIRE, S.A.
Madrid
nan
tabla provincia, columna nombre_provincia, valor Madrid
Alquiler de Maquinaria Vega Baja
nan
Almoradi
tabla municipio, columna nombre_municipio, valor Almoradi
Alquiler de Maquinarias
Lugo
Lugo
tabla provincia, columna nombre_provincia, valor Lugo
tabla municipio, columna nombre_municipio, valor Lugo
Alquileres Garbayo S.L.
Navarra
Tudela
tabla provincia, columna nombre_provincia, valor Navarra
tabla municipio, columna nombre_municipio, valor Tudela
ALQUIMECANICA, S.L.
Madrid
nan
tabla provincia, columna nombre_provincia, valor Madrid
Alquiven de maquinaria 2000 sl
nan
Castellon
tabla municipio, columna nombre_municipio, valor Castellon
ALQUIVEN MAQUINARIA 2000, S.L
Castellón
nan
tabla provincia, columna nombre_provincia, valor Castellón
ALR
Barcelona
Vic
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Vic
ALR LUXURY TIME, SL
Barcelona
Matadepera
tabla provincia, columna nombre_provincia, valor Barcelona
tabla municipio, columna nombre_municipio, valor Matadepera
ALSAGIL
Castellón
nan
tabla provincia, columna nombre_provincia, valor Castellón
ALSAM VENTA MAQUINARIA S.L.
nan
Martorelles
tabla municipio, columna nombre_municipio, valor Martorelles
Alsecan Auto
Cantabria
Cartes
tabla provincia, columna nombre_provincia, valor Cantabria
tabla municipio, columna nombre_municipio, valor Cartes
ALTRASAN, S.L.
Pontevedra
nan
tabla provincia, columna nombre_provincia, valor Pontevedra
ALTUNA PEÑIN REMARKETING, S. L
nan
Algete
tabla municipio, columna nombre_municipio, valor Algete
Alv Alba Irauto
Zamora
Benavente
tabla provincia, columna nombre_provincia, valor Zamora
tabla municipio, columna nombre_municipio, valor Benavente
ÁLVARO Álfaro
Girona
Figueres
tabla provincia, columna nombre_provincia, valor Girona
tabla municipio, columna nombre_municipio, valor Figueres
ALVARO NAVARRO
Alicante
Elche
tabla provincia, columna nombre_provincia, valor Alicante
tabla municipio, columna nombre_municipio, valor Elche
ALVARO PÉREZ
Burgos
Revillarruz
tabla provincia, columna nombre_provincia, valor Burgos

TypeError: 'NoneType' object is not subscriptable